@import '../base.scss';

.player-avatar {
  width: 32px;
  height: 32px;
  min-width: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $font-default;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 15px;
  line-height: 0;
  //thming outlier
  background-color: #2d6a9e;
  color: white;
}

@media (min-width: $screen-tablet-min) {
  .player-avatar {
    width: 48px;
    min-width: 48px;
    height: 48px;
    font-size: 22px;
  }
}
