@use "sass:color";
@use "../base.scss" as *;

.game-lists,
.game-history {
  .ant-table-filter-trigger-container {
    transition: none;
  }
  .ant-table-column-sorter {
    padding: 16px 0;
    // @include colorModed() {
    //   color: m($column-sorter);
    // }
  }
  //   .ant-table-thead > tr > th:hover {
  //     @include colorModed() {
  //       background: m($off-background);
  //     }
  //   }
  .ant-table-thead > tr,
  .ant-table-tbody > tr {
    @include colorModed() {
      background: m($card-background);
    }
  }
  .ant-table-thead > tr > th {
    @include colorModed() {
      color: m($gray-extreme);
    }
    & {
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.16em;
      text-transform: uppercase;
    }
    &.details {
      text-align: right;
    }
    &.time,
    &.lexicon {
      text-align: center;
    }
  }
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    padding: 8px;
    @include colorModed() {
      color: m($gray-extreme);
      border-color: m($off-background);
      background: transparent;
    }
    &.result {
      padding-right: 0;
    }
    &.details {
      padding-right: 8px;
    }
    &.when {
      white-space: nowrap;
    }
  }
  .ant-table-thead > tr > td {
    vertical-align: top;
  }
  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @include colorModed() {
      border-bottom: 1px solid m($off-background);
    }
    & {
      height: 36px;
    }
    .tab {
      padding: 0px 24px 6px;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 24px;
      font-weight: bold;
      letter-spacing: 0.16em;
      cursor: pointer;
      // Ensure Badge and other child components inherit tab font styling
      * {
        font-size: inherit;
        line-height: inherit;
        font-weight: inherit;
        letter-spacing: inherit;
      }
      &:hover,
      &.active {
        @include colorModed() {
          color: m($primary-dark);
        }
      }
      &.active {
        @include colorModed() {
          border-bottom: 2px solid m($primary-dark);
        }
      }
    }
  }
  .games {
    .player-display {
      display: flex;
      align-items: center;
      .player-avatar {
        display: none;
        width: 36px;
        height: 36px;
        min-width: 36px;
        font-size: 20px;
        margin-right: 12px;
        @media (min-width: $screen-desktop-min) {
          display: flex;
          width: 36px;
          height: 36px;
          min-width: 36px;
          font-size: 20px;
        }
      }
      .player-name {
        font-weight: 700;
      }
      .country-flag {
        top: 0px;
        margin-left: 6px;
      }
    }
    tr.ant-table-row.game-listing {
      cursor: pointer;
      &.resume,
      &.outgoing {
        .anticon {
          margin-left: 6px;
        }
      }
      .seeker {
        width: 300px;
      }
      .players {
        width: 350px;
      }
      .time,
      .lexicon {
        text-align: center;
      }
      .players > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px 0;
        .ant-tag {
          height: 22px;
        }
      }
      td {
        vertical-align: middle;
      }
      .rating {
        text-align: center;
      }
      &.resume,
      &.outgoing {
        position: relative;
        vertical-align: bottom;
        @include colorModed() {
          background-color: m($timer-low-light);
          color: #414141;
        }
        &:hover {
          @include colorModed() {
            background-color: color.scale(m($column-sorter), $lightness: 10%);
          }
        }
        td.ant-table-column-sort {
          @include colorModed() {
            background-color: color.mix(
              m($card-background),
              m($timer-low-light),
              $weight: 90%
            );
          }
        }
        td {
          padding-top: 42px;
          color: #414141;
        }
        .anticon.anticon-export {
          margin-right: 6px;
        }
        td.rating {
          text-align: center;
        }
        td.players {
          min-height: 78px;
        }
        td.players:after {
          content: "Resume";
          @include colorModed() {
            color: m($black);
          }
          & {
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 0.3em;
            text-transform: uppercase;
            position: absolute;
            top: 12px;
            left: 18px;
          }
        }
      }
      &.outgoing {
        cursor: pointer;
        @include colorModed() {
          background-color: m($off-background);
          color: m($gray-extreme);
        }
        td {
          @include colorModed() {
            color: m($gray-extreme);
          }
        }
        &:hover {
          @include colorModed() {
            background-color: color.scale(m($off-background), $lightness: 10%);
          }
        }
        td.seeker {
          & > div {
            width: 100%;
          }
        }
        td.seeker:after {
          @include colorModed() {
            color: m($gray-extreme);
          }
          & {
            content: "Cancel";
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 0.3em;
            text-transform: uppercase;
            position: absolute;
            top: 12px;
            left: 18px;
          }
        }
      }
    }
  }
  .requests {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 12px;
    width: 100%;
  }
  .ant-empty {
    display: none;
  }
  h4 {
    @include type-default;
    @include colorModed() {
      color: m($list-header-text);
      background-color: m($list-header);
    }
    & {
      font-size: 22px;
      font-weight: bold;
      text-align: left;
      padding: 12px;
      letter-spacing: 0;
      margin: 0;
    }
  }

  td.opponent {
    font-weight: bold;
    font-size: 16px;
  }
  td.turn-order {
    font-size: 21px;
    .anticon {
      display: flex; /* make first and non-first same height so Prev/Next buttons don't move */
    }
  }
  td.time {
    text-transform: capitalize;
  }
  td.result,
  th.result {
    width: 40px;
  }
  td.score,
  th.score {
    min-width: 100px;
  }
  td.details {
    text-align: right;
    .anticon-fund {
      @include colorModed() {
        color: m($primary-dark);
      }
      & {
        font-size: 18px;
        margin-left: 6px;
      }
    }
    .challenge-rule {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0;
      @include colorModed() {
        color: m($timer-dark);
      }
      &.mode_x2 {
        @include colorModed() {
          color: m($timer-out-dark);
        }
      }
      &.mode_Void {
        @include type-deco;
        font-size: 12px;
        letter-spacing: 0;
        @include colorModed() {
          color: m($timer-low-dark);
        }
        & {
          text-transform: uppercase;
        }
      }
    }
  }
  .game-count {
    margin-left: 9px;
    font-size: 14px;
    @include colorModed() {
      color: m($gray-subtle);
    }
  }
}
