@use "../base";

// Phone & defaults
$puzzleCardHeight: 270px;

// Center area
.play-area,
.game-lists,
.chat-area,
.data-area,
.announcements,
.tournament-info {
  min-width: base.$main-container-width-mobile;
  max-width: base.$main-container-width-mobile;
  padding: 6px;
  margin: 0;
}

span.user-context-menu.ant-dropdown-trigger {
  display: inline-block;
}
.lobby,
.game-table,
.top-header .container {
  @include base.container();
  & {
    padding: 12px 12px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
  }
}
.top-header .container {
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.game-container {
  .top-header {
    display: none;
  }
}

.top-header {
  .game-container {
    .top-header {
      display: none;
    }
  }
}

.lobby {
  .ant-card {
    height: calc(base.$main-container-width-tablet + 60px);
  }
  .chat-area {
    .ant-card.upcoming-tournaments-widget {
      height: 180px;
      margin-bottom: 12px;
      .ant-card-body {
        height: 180px;
        max-height: 180px;
        overflow-y: auto;
      }
    }
  }
  .announcements {
    .ant-card.puzzle-preview {
      height: $puzzleCardHeight;
      .ant-card-body {
        height: $puzzleCardHeight - 52px;
        max-height: $puzzleCardHeight - 52px;
      }
      .ant-card-head-title {
        padding: 12px 0;
        font-size: 16px;
      }
    }
    .ant-card.announcements-card {
      margin-bottom: 9px;
      height: calc(
        base.$main-container-width-tablet + 52px - $puzzleCardHeight
      );
      .ant-card-body {
        padding: 12px 24px;
        height: calc(
          base.$main-container-width-tablet + 48px - $puzzleCardHeight - 52px
        );
        max-height: calc(
          base.$main-container-width-tablet + 48px - $puzzleCardHeight - 52px
        );
        overflow-y: auto;
      }
      .ant-card-head-title {
        padding: 14px 0 6px;
        font-size: 16px;
      }
    }
  }
}
// Landscape tablet
@media (min-width: base.$screen-tablet-min) {
  .lobby,
  .game-table {
    padding-top: 12px;
  }
  .top-header .container {
    padding: 12px 48px 0;
  }
  .play-area,
  .game-lists {
    min-width: base.$main-container-width-tablet;
    max-width: base.$main-container-width-tablet;
  }
  .play-area {
    padding-top: 12px;
  }
  .data-area,
  .announcements,
  .tournament-info {
    min-width: base.$sidebar-width-tablet;
    max-width: base.$sidebar-width-tablet;
  }

  .chat-area {
    width: 100%;
    min-width: auto;
    max-width: none;
    margin: 12px;
  }
  .lobby.competitor {
    .tournament-info .ant-card.tournament {
      height: 520px;
      .ant-card-body {
        max-height: 460px;
      }
    }
  }
}

// Laptop
@media (min-width: base.$screen-laptop-min) {
  .game-table,
  .lobby {
    flex-wrap: nowrap;
  }
  .play-area,
  .game-lists {
    min-width: base.$main-container-width-laptop;
    max-width: base.$main-container-width-laptop;
    padding-top: 12px;
  }
  .data-area,
  .announcements,
  .tournament-info,
  .chat-area {
    min-width: base.$sidebar-width-laptop;
    max-width: base.$sidebar-width-laptop;
    padding: 12px 12px 0;
    margin: 0;
  }

  .lobby {
    .play-area,
    .game-lists,
    .chat-area,
    .data-area,
    .tournament-info,
    .announcements {
      height: calc(100vh - #{base.$header-height-desktop + 48px});
    }
    .game-lists .ant-card,
    .tournament-info .ant-card.tournament {
      height: calc(100vh - #{base.$header-height-desktop + 48px});
    }
    &:not(.room) .chat-area .ant-card.chat {
      height: calc(100vh - #{base.$header-height-desktop + 48px + 192px});
    }
    &.room .chat-area .ant-card.chat {
      height: calc(100vh - #{base.$header-height-desktop + 48px});
    }
    .announcements {
      .ant-card.announcements-card {
        margin-bottom: 18px;
        height: calc(
          100vh - #{base.$header-height-desktop + $puzzleCardHeight + 65px}
        );
        .ant-card-body {
          height: calc(
            100vh - #{base.$header-height-desktop + $puzzleCardHeight + 120px}
          );
          max-height: calc(
            100vh - #{base.$header-height-desktop + $puzzleCardHeight + 120px}
          );
        }
      }
    }
    &.competitor .tournament-info .ant-card.tournament {
      height: calc(100vh - #{base.$header-height-desktop + 48px});
      .ant-card-body {
        max-height: calc(100vh - #{base.$header-height-desktop + 124px});
      }
    }
    &.room.competitor .ant-card.chat {
      height: calc(100vh - #{base.$header-height-desktop + 125px});
    }
  }
}

// Desktop
@media (min-height: base.$screen-min-height-desktop-min) and (min-width: base.$screen-desktop-min) {
  .play-area,
  .game-lists {
    min-width: base.$main-container-width-desktop;
    max-width: base.$main-container-width-desktop;
  }
  .data-area,
  .announcements,
  .tournament-info,
  .chat-area {
    min-width: base.$sidebar-width-desktop;
    max-width: base.$sidebar-width-desktop;
  }
}

@media (min-width: base.$screen-tablet-min) {
  .game-container.editor {
    .top-header {
      display: flex;
    }
  }
}

@media (min-height: base.$screen-min-height-desktop-max) and (min-width: base.$screen-desktop-min) {
  .game-container {
    .top-header {
      display: flex;
    }
  }

  // But keep the main editor page showing at tablet breakpoint
  .game-container.editor {
    .top-header {
      display: flex;
    }
  }
}

@media (min-height: base.$screen-min-height-desktop-max) and (min-width: base.$screen-desktop-min) {
  .lobby,
  .game-table {
    padding-top: 0px;
  }
}
