@import '../base.scss';

// Center area
.play-area, .game-lists, .chat-area, .data-area, .announcements, .tournament-info {
  min-width: $main-container-width-mobile;
  max-width: $main-container-width-tablet-portrait;
  padding: 6px;
  margin: 0;
}

span.user-context-menu.ant-dropdown-trigger {
  display: inline-block;
}

.menu-container {
  display: none;
  position: fixed;
  left: 0;
  top: 60px;
  height: 100vh;
  width: 320px;
  z-index: 10;
  @include colorModed() {
    color: m($gray-extreme);
    background-color: m($header);
  }
  &.open {
    display: block;
    @media (min-width: $screen-laptop-min) {
      display: none;
    }
  }
}

.panel {
  display: none;
  max-width: 100vw;
  &.in {
    display: block;
  }
  @media (min-width: $screen-laptop-min) {
    display: block
  }
}

.lobby, .game-table, .top-header .container {
  @include container();
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  @media (min-width: $screen-tablet-portrait-min) {
    padding: 15px 12px 0px;
  }
}
.top-header .container {
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 12px;
 }

.game-container {
  overflow: hidden;
  .top-header {
    display: none;
  }
}

.top-header {
  .game-container {
    .top-header {
      display: none;
    }
  }

}

.lobby {
  .ant-card {
    height: $main-container-width-tablet-landscape + 60px;
  }
}

// Portrait tablet
@media (min-width: $screen-tablet-portrait-min) {
  .play-area, .game-lists {
    min-width: $main-container-width-tablet-portrait;
    max-width: $main-container-width-tablet-portrait;
  }
}
// Landscape tablet
@media (min-width: $screen-tablet-landscape-min) {
  .lobby, .game-table {
    padding-top: 12px;
  }
  .top-header .container {
    padding: 12px 48px;
  }
  .play-area, .game-lists {
    min-width: $main-container-width-tablet-landscape;
    max-width: $main-container-width-tablet-landscape;
  }
  .play-area {
    padding-top: 12px;
  }
  .data-area, .announcements, .tournament-info {
    min-width: $sidebar-width-tablet-landscape;
    max-width: $sidebar-width-tablet-landscape
  }
  .chat-area {
    width: 100%;
    min-width: auto;
    max-width: none;
    margin: 12px;
  }
  .lobby.competitor {
    .tournament-info .ant-card.tournament {
      height: 520px;
      .ant-card-body {
        max-height: 460px;
      }
    }
  }
}

// Laptop
@media (min-width: $screen-laptop-min) {
  .game-table, .lobby {
    flex-wrap: nowrap;
  }
  .play-area, .game-lists {
    min-width: $main-container-width-laptop;
    max-width: $main-container-width-laptop;
    padding-top: 12px;
  }
  .data-area, .announcements, .tournament-info, .chat-area {
    min-width: $sidebar-width-laptop;
    max-width: $sidebar-width-laptop;
    padding: 12px 12px 0;
    margin: 0;
  }

  .lobby {
    .play-area, .game-lists, .chat-area, .data-area, .tournament-info, .announcements {
      height: calc(100vh - #{$header-height-desktop + 48px});
    }
    .ant-card, .ant-card.chat, .announcements .ant-card, .tournament-info .ant-card.tournament {
      height: calc(100vh - #{$header-height-desktop + 48px});
    }
    .announcements .ant-card {
      .ant-card-body {
        max-height: calc(100vh - #{$header-height-desktop + 124px});
      }
    }
    &.competitor .tournament-info .ant-card.tournament {
      height: calc(100vh - #{$header-height-desktop + 48px});
      .ant-card-body {
        max-height: calc(100vh - #{$header-height-desktop + 124px});
      }
    }
    &.room.competitor .ant-card.chat {
      height: calc(100vh - #{$header-height-desktop + 125px});
    }
  }
}

// Desktop
@media (min-height: $screen-min-height-desktop-min) and (min-width: $screen-desktop-min) {
  .play-area, .game-lists {
    min-width: $main-container-width-desktop;
    max-width: $main-container-width-desktop;
  }
  .data-area, .announcements, .tournament-info, .chat-area {
    min-width: $sidebar-width-desktop;
    max-width: $sidebar-width-desktop;
  }
}

@media (min-height: $screen-min-height-desktop-max) and (min-width: $screen-desktop-min) {
  .lobby, .game-table {
    padding-top: 0px;
  }
  .game-container {
    .top-header {
      display: flex;
    }
  }
}