.vscode
cmd/server/server
node_modules
*.code-workspace
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
liwords.iml
.idea/

*.ipynb_checkpoints/
scripts/batchregister/*.csv
__pycache__
scripts/**/*-linux-amd64