.DS_Store
.vscode
cmd/server/server
node_modules
*.code-workspace
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
liwords.iml
.idea/

*.ipynb_checkpoints/
scripts/batchregister/*.csv
__pycache__
scripts/**/*-linux-amd64

data/lexica/words/*.txt
local.env
.env.prod

cmd/convert-pb/convert-pb
liwords-ui/public/wasm/macondo.wasm

*.out
