@use '../../base.scss' as *;

.director-tools {
  h4 {
    font-size: 15px;
    margin-bottom: 6px;
  }
  ul {
    margin-bottom: 12px;
  }
  li.player-name {
    padding: 0 15px;
    font-size: 14px;
  }
}

.anticon-minus-circle {
  @include colorModed() {
    color: m($timer-out-dark);
  }
}