@import '../base';
@import '../shared/gameLists';
@include button;
@include tabs;

.profile {
  @include container;
  padding: 0 24px 48px;
  .settings-link {
    text-align: right;
    margin: 15px 0 0 0;
  }
  .user-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  h2 {
    margin: 36px 0 12px 0;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    font-size: 13px;
  }
  h3 {
    margin: 24px 12px;
    width: auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Mulish', sans-serif;
    letter-spacing: 0;
    font-weight: bold;
    span.user {
      display: inline-flex;
      align-items: center;
    }
  }
  .bio {
    margin-bottom: 18px;
    max-width: 600px;
    padding-left: 9px;
    @include colorModed() {
      color: m($gray-extreme);
    }
  }
  .country-flag {
    margin-left: 15px;
    height: 0.6em;
    top: 0;
  }
  .player-avatar {
    margin: 0px 12px 18px 0;
    width: 96px;
    min-width: 96px;
    height: 96px;
    font-size: 48px;
    @media (min-width: $screen-tablet-min) {
      width: 96px;
      min-width: 96px;
      height: 96px;
      font-size: 48px;
    }
  }
  header {
    margin: 18px 0;
    display: flex;
    flex-direction: column;
    @media (min-width: $screen-tablet-min) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .quick-stats {
    width: 100%;
    @media (min-width: $screen-tablet-min) {
      margin-left: 18px;
      width: 50%;
    }
  }

  .slick-slide {
    padding: 0 12px 0 6px;
  }

  .ant-carousel .slick-dots-bottom {
    bottom: -12px;
  }
  .ant-carousel .slick-dots{
    align-items: baseline;
  }
  .ant-carousel .slick-dots li {
    width: 12px;
    button {
      width: 8px;
      height: 8px;
      border-radius: 100%;
      opacity: 1;
      @include colorModed() {
        background: m($primary-middle);
      }
    }
  }
  .ant-carousel .slick-dots li.slick-active {
    width: 14px;
    button {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      @include colorModed() {
        background: m($primary-dark);
      }
    }
  }

  .variant-stats {
    display: inline-block;
    margin-right: 12px;
    width: 100%;
    h3 {
      margin: 0;
    }
    .stat-item {
      background: transparent;
      margin: 6px 0 0 0;
      padding: 0;
      font-size: 21px;
      .label {
        font-size: 14px;
        font-weight: 200;
        margin-left: 0.5em;
      }
    }
  }

  .ant-card {
    margin-bottom: 12px;
  }
  .ant-card-body {
    padding: 24px;
  }
  .ant-card-head {
    @include colorModed() {
      background-color: m($primary-light);
    }
  }
  .ant-card-head-title {
    font-weight: 700;
    font-size: 14px;
  }
  a {
    font-size: 14px;
    text-align: right;
  }
  .ant-table-wrapper {
    overflow-x: auto;
  }

  .blocked-users {
    .ant-card-body {
      padding: 12px;
      .user-context-menu {
        margin-right: 12px;
      }
    }
  }
  // hide puzzle ratings for now
  tr[data-row-key*="puzzle"] {
    display: none;
  }
}
.game-history-controls {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 6px;
}
