@import '../base';
@import '../shared/gameLists';
@include button;
@include tabs;

.profile {
  @include container;
  padding: 0 24px 48px;
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h3 {
    margin: 24px 12px;
    width: auto;
    display: inline-block;
  }
  label {
    @include colorModed() {
      color: m($gray-extreme);
    }
  }
  .dark-toggle {
    margin: 0 24px 0 6px;
    &.ant-switch-checked {
      @include colorModed() {
        background: m($header);
      }
    }
  }
  .ant-card {
    margin-bottom: 12px;
  }
  .ant-card-body {
    padding: 0;
  }
  .ant-card-head {
    @include colorModed() {
      background-color: m($primary-light);
    }

  }
  a {
    font-size: 14px;
    text-align: right;
  }
  .game-history-controls {
    padding: 6px;
    text-align: right;
  }
  .ant-table-wrapper {
    overflow-x: auto;
  }
  .blocked-users {
    .ant-card-body {
      padding: 12px;
      .user-context-menu {
        margin-right: 12px;
      }
    }
  }
}