@use "../base.scss" as *;

.settings {
  @include container;
  & {
    @include type-default;
  }
  & {
    padding: 51px 24px 48px;
    line-height: 20px;
    display: flex;
    justify-content: center;
  }
  &.stand-alone {
    flex-direction: column;
    align-items: center;
    .right-column {
      max-width: 600px;
    }
  }
  .ant-alert {
    margin-top: 12px;
  }
  .anticon-heart {
    @include colorModed() {
      color: m($timer-out-dark);
    }
    & {
      margin-right: 6px;
    }
  }
  h3 {
    font-family: $font-default;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 24px;
  }
  .div {
    line-height: 20px;
  }
  .title {
    @include type-title;
    margin-bottom: 8px;
  }
  .categories {
    padding: 4px 30px 0 0;
    min-width: 180px;
    .choice {
      text-align: right;
      height: 32px;
      font-weight: bold;
      @include colorModed() {
        color: m($gray-medium);
      }
      & {
        cursor: pointer;
        padding-right: 14px;
        padding-top: 8px;
        border-right: 2px solid transparent;
      }
      &:hover,
      &.active {
        @include colorModed() {
          color: m($primary-dark);
        }
      }
      &.active {
        @include colorModed() {
          border-color: m($primary-dark);
        }
      }
    }
  }

  .category {
    max-width: 800px;
    flex-grow: 2;
    .log-out {
      .ant-btn {
        width: 184px;
        height: 40px;
        margin-top: 24px;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  label {
    @include colorModed() {
      color: m($gray-extreme);
    }
  }
  .ant-card {
    margin-bottom: 12px;
  }
  .ant-card-body {
    padding: 24px;
  }
  .ant-card-head {
    @include colorModed() {
      background-color: m($primary-light);
    }
  }
  .ant-select .ant-select-selector {
    z-index: 0;
  }

  a {
    font-size: 14px;
    text-align: right;
  }
  .log-in {
    font-weight: bold;
    margin-top: 12px;
  }
  .blocked-users {
    .ant-card-body {
      padding: 12px;
      .user-context-menu {
        margin-right: 12px;
      }
    }
  }
  .woogles {
    width: 144px;
    height: 236px;
  }

  .support-woogles {
    display: flex;
    flex-direction: row;
    align-items: center;
    .bolder {
      font-weight: 800;
    }
    img.woogles {
      display: none;
      margin-right: 24px;
      @media (min-width: $screen-tablet-min) {
        display: block;
      }
    }
    .right-column {
      margin-left: 20px;
    }

    .donation-buttons {
      margin: 24px 0px 12px;
    }

    button {
      margin: 0 12px 12px 0;
      border-width: 2px;
      width: 150px;
      height: 40px;
      font-size: 14px;
      font-weight: bold;
    }
    .patreon-button {
      margin-top: 12px;
      width: 256px;
      flex-shrink: 0;
    }
    .pt-callout-link {
      width: 28px;
      height: 28px;
      flex-shrink: 0;
      path {
        @include colorModed() {
          fill: m($primary-dark);
        }
      }
    }
  }
  .change-password {
    .ant-form-item-label {
      font-weight: bold;
    }
    .ant-btn {
      position: absolute;
      right: 0;
      top: 0;
      font-size: 14px;
    }
  }
  .blocked-players {
    .header {
      line-height: 20px;
      padding-bottom: 24px;
    }
    .none-blocked {
      font-weight: bold;
    }
    .blocked-player {
      position: relative;
      font-weight: bold;
      .iconx {
        position: absolute;
        right: 0;
      }
    }
  }
  .preferences {
    .tile-order,
    .tile-style,
    .board-style {
      font-weight: bold;
    }
    .tile-order-select {
      margin-top: 6px;
      margin-bottom: 18px;
      width: 100%;
    }
    .toggles-section {
      display: flex;
    }
    .toggle-section {
      margin-bottom: 24px;
      & > div:last-child {
        display: flex;
        gap: 12px;
        & > div:first-child {
          flex: 1;
        }
      }
    }
  }
}
.confirm-unblock-modal {
  .blocked-player {
    font-weight: bold;
  }
}

.section-header {
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  @include colorModed() {
    color: m($gray-extreme);
  }
}

.closed-account {
  .ant-row {
    padding-top: 24px;
  }
  .thanks {
    padding: 50px 0 0 24px;
    font-style: italic;
    font-size: 14px;
  }
}
.personal-info {
  .ant-row {
    margin-bottom: 0;
  }
  .avatar-section,
  .no-avatar-section {
    @include container;
    & {
      padding: 0 24px;
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
    }

    .ant-btn {
      font-size: 14px;
    }
    .player-avatar {
      height: 96px;
      width: 96px;
    }
    .change-avatar {
      margin-left: 24px;
      border-width: 2px;
    }
  }

  .no-avatar-section {
    padding-left: 0;
    .change-avatar {
      margin-left: 0;
    }
  }
  .ant-form-item-explain {
    margin-top: -14px;
  }
  .ant-form-item-label {
    padding-bottom: 0;
  }
  .ant-col {
    div {
      font-weight: bold;
    }
    input {
      border-radius: 4px;
      padding-top: 9.1px;
      padding-bottom: 9.1px;
      margin-bottom: 20px;
      font-size: 14px;
      &#birthDate {
        margin-bottom: 0;
        width: 100px;
      }
    }
    .ant-picker {
      padding: 0 9px;
      margin-bottom: 20px;
      @include colorModed() {
        background: m($background);
      }
      .anticon,
      .anticon:hover {
        @include colorModed() {
          color: m($gray-medium);
          background: m($background);
        }
      }
    }
    span.notice {
      margin-left: 6px;
      font-style: italic;
      font-weight: normal;
      @include colorModed() {
        color: m($gray-medium);
      }
    }
  }
  .close-account-button,
  .bio-tips {
    font-weight: bold;
    cursor: pointer;
    @include colorModed() {
      color: m($primary-dark);
    }
    &:hover,
    &.active {
      @include colorModed() {
        color: m($primary-dark);
      }
    }
    &.active {
      @include colorModed() {
        border-color: m($primary-dark);
      }
    }
  }
  .save-button {
    position: absolute;
    right: 24px;
    top: 0;
    font-size: 14px;
    height: 40px;
  }
  .ant-select {
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    margin-bottom: 18px;
  }
  .ant-select-selector,
  .ant-select-item,
  .ant-select-dropdown {
    @include colorModed() {
      background: m($background);
      color: m($gray-extreme);
    }
    .hover-help {
      display: none;
    }
  }

  .ant-select-selection-item {
    font-weight: normal;
    font-size: 14px;
  }
  .bio-editor {
    border-radius: 4px;
    font-size: 15px;
    letter-spacing: 0.05em;
    @include colorModed() {
      background: m($background);
      color: m($gray-extreme);
      outline: 0;
    }
  }
  .bio-section-header {
    width: 100%;
    position: relative;
  }
  .bio-tips {
    position: absolute;
    right: 0;
  }
}
.close-account {
  .deletion-rules {
    line-height: 20px;
    margin-bottom: 12px;
  }
  .stern-warning {
    background: #eafffd;
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 16px;
    margin-bottom: 48px;
    height: 52px;

    .i-understand {
      color: #666666;
    }
  }
  .ant-checkbox-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding-bottom: 24px;
  }
  .ant-btn {
    margin-top: 0;
    font-size: 14px;
    width: 184px;
  }
  .close-account-button {
    position: absolute;
    right: 0;
    top: 0px;
  }
}

.avatar-container {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
  .player-avatar {
    width: 64px;
    height: 64px;
  }
  .full-name {
    padding-left: 24px;
    font-size: 16px;
    font-weight: bold;
  }
}

.secret-warning {
  padding: 16px;
  @include colorModed() {
    background: m($primary-light);
    color: m($gray-extreme);
  }
}

.secret .title {
  margin-top: 24px;
}

.cropper-modal {
  width: 328px;
  .ant-modal-body {
    padding: 0 16px;
    .cropper {
      @include colorModed() {
        background: m($primary-dark);
      }
      & {
        position: relative;
        width: 296px;
        height: 296px;
      }
    }
  }
  .ant-modal-footer {
    display: flex;
    align-items: center;
  }
  .zoom-slider {
    display: flex;
    align-items: center;
    font-size: 32px;
    padding: 0px 6px 0 12px;
    .ant-slider {
      margin: 16px;
      width: 100%;
      top: 2px;
      .ant-slider-track,
      .ant-slider-rail {
        @include colorModed() {
          background: m($gray-extreme);
        }
      }
      .ant-slider-handle {
        // width: 24px;
        // height: 24px;
        // top: 0px;
        // border-radius: 10px;
        @include colorModed() {
          background-color: m($primary-dark);
          border-color: m($primary-dark);
        }
      }
    }
    @include colorModed() {
      color: m($gray-extreme);
    }
  }
}
.tile-selection,
.board-selection,
.puzzle-lexicon-selection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px 0;
  .ant-select {
    min-width: 150px;
  }
}
.previewer {
  padding-bottom: 12px;
  position: relative;
  justify-items: flex-start;
  transform: scale(0.5);
  transform-origin: top left;
  height: 255px;
  margin: 18px 0;
  @media (min-width: $screen-mobile-min) {
    transform: scale(0.8);
    height: 408px;
  }
  @media (min-width: $screen-desktop-min) {
    transform: scale(0.62);
  }
  .board-preview {
    position: absolute;
  }
}
.api-settings {
  .anticon-eye {
    @include colorModed() {
      color: m($primary-dark);
    }
  }
  .anticon-reload {
    @include colorModed() {
      color: m($primary-midDark);
    }
  }
}
.integration-card {
  .ant-card-head-title {
    @include colorModed() {
      color: m($primary-dark);
    }
  }
  .ant-card-extra {
    @include colorModed() {
      color: m($primary-dark);
    }
  }
  .ant-card-body {
    min-height: 220px;
  }
  .ant-card-actions {
    @include colorModed() {
      background: m($card-background);
    }
  }

  // Roles & Permissions styling
  .description {
    @include colorModed() {
      color: m($gray-medium);
    }
    & {
      color: #666;
    }
  }

  .permission-item {
    @include colorModed() {
      background-color: m($card-background);
    }
    & {
      background-color: #f5f5f5;
    }

    .permission-code {
      @include colorModed() {
        color: m($gray-medium);
      }
      & {
        color: #999;
      }
    }
  }
}
