@import '../base';
@import '../shared/gameLists';
@include button;
@include tabs;

.settings {
  @include container;
  @include type-default;
  padding: 51px 24px 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  line-height: 20px;

  h3 {
    font-family: $font-default;
    font-weight: bold;
    letter-spacing: 0;
  }
  .div {
    line-height: 20px;
  }
  .categories {
    flex-direction: column;
    padding: 4px 30px 0 0;
    min-width: $settings-width;
    max-width: $settings-width;
    .choice {
      text-align: right;
      height: 32px;
      font-weight: bold;
      @include colorModed() {
        color: m($gray-medium);
      }
      cursor: pointer;
      padding-right: 14px;
      padding-top: 8px;
      border-right: 2px solid transparent;
      &:hover,
      &.active {
        @include colorModed() {
          color: m($primary-dark);
        }
      }
      &.active {
        @include colorModed() {
          border-color: m($primary-dark);
        }
      }
    }
  }

  .category {
    flex-direction: column;
    min-width: $settings-width;
    max-width: $settings-width;

    .log-out {
      .container {
        display: flex;
        align-items: center;
        padding-bottom: 24px;
      }
      .player-avatar {
        width: 64px;
        height: 64px;
      }
      .full-name {
        padding-left: 24px;
        font-size: 16px;
        font-weight: bold;
      }
      .ant-btn {
        width: 184px;
        height: 40px;
        margin-top: 24px;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  label {
    @include colorModed() {
      color: m($gray-extreme);
    }
  }
  .ant-card {
    margin-bottom: 12px;
  }
  .ant-card-body {
    padding: 24px;
  }
  .ant-card-head {
    @include colorModed() {
      background-color: m($primary-light);
    }
  }
  a {
    font-size: 14px;
    text-align: right;
  }
  .blocked-users {
    .ant-card-body {
      padding: 12px;
      .user-context-menu {
        margin-right: 12px;
      }
    }
  }
  .woogles {
    width: 144px;
    height: 236px;
  }
  .support-woogles {
    display: flex;
    flex-direction: row;
    align-items: center;

    .right-column {
      margin-left: 20px;
    }
    .title {
      @include type-title;
      margin-bottom: 8px;
    }

    button {
      margin-top: 24px;
      margin-left: 0;
      border-width: 2px;
      width: 144px;
      height: 40px;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .change-password {
    .ant-form-item-label {
      font-weight: bold;
    }
    .container {
      display: flex;
      flex-direction: row;
      .one-password {
        margin-right: 12px;
      }
    }
    .ant-btn {
      font-size: 14px;
    }
  }
  .blocked-players {
    .header {
      line-height: 20px;
    }
    .player-list {
    }

    .blocked-player {
      position: relative;
      font-weight: bold;
      padding-top: 24px;
      .iconx {
        position: absolute;
        right: 0px;
      }
    }
  }
}
.confirm-unblock-modal {
  .blocked-player {
    font-weight: bold;
  }
}
