@use '../base.scss' as *;

body {
  width: auto;
  height: auto;
}

.top-header {
  width: 100%;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 2;
  min-height: 60px;
  @include colorModed() {
    background-color: m($header);
  }
  *,
  button.link {
    @include type-default;
    letter-spacing: 0.16em;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    @include colorModed() {
      color: m($primary-dark);
      background-color: m($header);
    }
    .anticon {
      display: inline;
      margin-left: 6px;
    }
  }
  .user-info {
    white-space: nowrap;

    button.link {
      font-weight: 900;
      font-size: 14px;
      @include colorModed() {
        color: m($primary-dark);
      }
    }
  }
}

.top-header-menu {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding-bottom: 0;
  justify-content: center;
  max-width: none;
  font-size: 13px;
  div {
    display: none;
    padding: 12px 24px;
    a,
    p {
      @include colorModed() {
        color: m($primary-dark);
      }
      cursor: pointer;
      letter-spacing: 0.16em;
      white-space: nowrap;
      &:focus,
      &:hover,
      &:active {
        @include colorModed() {
          color: m($primary-dark);
        }
      }
      &:active,
      &.active {
        border-bottom: 3px;
      }
    }
  }
  @media (min-width: $screen-tablet-min) {
    display: flex;
    div {
      display: flex;
    }
  }
}

.tournament-mode {
  .site-name {
    position: relative;
    bottom: 6px;
  }
}

.logo {
  display: flex;
  /* Inside Auto Layout */
  flex: none;
  align-self: center;
  margin: 0;
  .site-icon-rect {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include colorModed() {
      background: m($logo);
    }
    border-radius: 4px;
  }
  /* W */
  .site-icon-w {
    left: 6px;
    top: 0px;
    transform: translateX(-3px) rotate(-11deg);
    position: relative;
    font-family: $font-default;
    font-weight: 700;
    font-size: 27px;
    line-height: 35px;
    letter-spacing: 0.16em;
    @include colorModed() {
      color: m($logo-text);
      background: transparent;
    }
  }
  /* Macondo */

  .site-name {
    /* Inside Auto Layout */
    @include colorModed() {
      color: m($logo);
    }
    flex: none;
    text-transform: none;
    align-self: center;
    margin: 0 12px;
    font-size: 28px;
    font-weight: 900;
    line-height: 35px;
    letter-spacing: -0.03em;
  }

  .tournament {
    position: absolute;
    bottom: -3px;
    left: 124px;
    font-size: 10px;
    background: transparent;
    @include colorModed() {
      color: m($primary-dark);
    }
  }
}
