@import 'base';

.App {
  min-height: 100vh;
  @include colorModed() {
    background-color: m($background);
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include colorModed() {
      color: m($gray-extreme);
    }
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
// force fade away on phones, as they get stuck
@media (hover: none) {
  .ant-tooltip-content {
    opacity: 1;
    animation: disappear 300ms ease-out 800ms forwards;
  }
}

.country-flag {
  width: 20px;
  height: 14px;
  box-shadow: 0px 0px 3px 1px #00000029;
  position: relative;
  top: -2px;
  margin-right: 6px;
}
.ant-dropdown.user-menu {
  @include colorModed() {
    background-color: m($background);
    box-shadow: m($shadow);
  }
  padding: 6px 24px 6px 12px;
  min-width: 200px;
}
a,
button.link {
  cursor: pointer;
  @include colorModed() {
    color: m($primary-dark);
    background: transparent;
  }
  font-weight: bold;
  border: 0;
  outline: 0;
  &:hover,
  &:active {
    @include colorModed() {
      color: m($primary-dark);
    }
  }
}
button.link {
  @include colorModed() {
    color: m($primary-dark);
  }
}

a.plain,
.link.plain {
  cursor: pointer;
  font-weight: 700;
  @include colorModed() {
    color: m($gray-extreme);
  }
  transition: none;
  font-family: $font-default;
  line-height: 34px;
  &:hover,
  &:active {
    @include colorModed() {
      color: m($primary-dark);
    }
  }
}
.note {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 6px;
  @include colorModed() {
    color: m($primary-dark);
  }
}

.ant-layout-content {
  @include colorModed() {
    color: m($primary-dark);
    background-color: m($background);
  }
}

.donations {
  @include container;
  padding: 48px 18px;

  &.donation-success {
    text-align: center;
    h4 {
      @include type-default;
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 0;
    }
  }
}

.bnjyMode {
  .tile[data-rune='I'], .tile[data-rune='O'], .tile[data-rune='X'] {
    transform: rotate(180deg);

    /* this mirrors gameroom/scss/gameroom.scss */

    & .tentative-score.tentative-score-horizontal {
      left: calc(100% + 2px);
    }

    & .tentative-score.tentative-score-vertical {
      left: 2px;
      top: calc(100% + 4px);
    }

    & .tentative-score {
      transform: rotate(180deg);
    }
  }
}
.ant-modal-body .readable-text-color {
  @include colorModed() {
    color: m($gray-extreme);
  }
}
.tourney-editor .readable-text-color {
  @include colorModed() {
    color: m($gray-extreme);
  }
}
.ant-list-items .readable-text-color {
  @include colorModed() {
    color: m($gray-extreme);
  }
}
.ant-form-item .ant-select-selection-item-content {
  color: #777777;
}
