@import 'base';
body {
  background-color: white;
}

.ant-dropdown.user-menu {
  background: white;
  padding: 6px 24px 6px 12px;
  min-width: 200px;
  box-shadow: $card-shadow-lower;
}
a, button.link {
  cursor: pointer;
  color: $color-primary-dark;
  font-weight: bold;
  border: 0;
  outline: 0;
  &:hover,
  &:active {
    color: $color-primary-midDark;
  }
}
button.link {
  background: white;
}

a.plain, .link.plain {
  cursor: pointer;
  font-weight: 700;
  color: $color-gray-dark;
  transition: none;
  font-family: $font-default;
  line-height: 34px;
  &:hover,
  &:active {
    color: $color-primary-dark;
  }
}
.note {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 6px;
  color: $color-primary-dark;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* g:focus {
  outline: none;
} */
