@import "base";

.App {
  background-color: white;
  /* Prevent squashing board until we get to responsive for mobile */
  min-width: $screen-tablet-min;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* buttons */

button.ant-btn {
  height: 36px;
  margin: 6px 3px;
  font-weight: bold;
  text-transform: uppercase;
  &, &:hover {
    border-color: $color-secondary;
    color: $color-secondary;
  }
  &.ant-btn-primary {
    background: $color-secondary;
    color: white;
    border: 0;

  }
}

button.ant-btn-circle {
  height: 32px;
}


/* cards */
.ant-card {
  box-shadow: $card-shadow;
  border-radius: 8px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* g:focus {
  outline: none;
} */

