$card-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
$card-shadow-lower: 0px 0px 6px rgba(0, 0, 0, 0.15);
$card-padding: 16px;
$card-padding-md: ($card-padding / 2);

$header-height-mobile: 96px;
$header-height-desktop: 60px;
/* colors */

$color-primary-light: #e2f8ff;
$color-primary-middle: #c9f0ff;
$color-primary-midDark: #3b88ca;
$color-primary-dark: #2d6a9e;
$color-secondary: #6b268b;
$color-secondary-dark: #4d116a;
$color-secondary-light: #d5cad6;
$color-secondary-lighter: #f8f2fc;
$color-secondary-medium: #955f9a;
$color-timer-light: #e5ffdf;
$color-timer-dark: #449e2d;
$color-timer-low-light: #fff4d8;
$color-timer-low-dark: #f4b000;
$color-timer-out-light: #ffeaea;
$color-timer-out-dark: #a92e2e;

$color-board-dls: desaturate(darken(#e2f8ff, 10%), 25%);
$color-board-dws: desaturate(darken(#ffeaea, 10%), 25%);
$color-board-tws: #a92e2e;
$color-board-tls: #3b88ca;
$color-board-empty: white;

$color-gray-light: #bebebe;
$color-gray-medium: #999999;
$color-gray-dark: #414141;

$color-grid: #c3c3c3;

$screen-mobile-min: 768px;
$screen-tablet-min: 1024px;
$screen-laptop-min: 1280px;
$screen-desktop-min: 1440px;
$screen-desktop-l-min: 1920px;

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}
// Magic that makes variables available to the tsx code
:export {
  colorSecondary: $color-secondary;
  colorSecondaryMedium: $color-secondary-medium;
  colorSecondaryLight: $color-secondary-light;

  colorPrimary: $color-primary-dark;
  colorPrimaryMedium: $color-primary-midDark;
  colorPrimaryLight: $color-primary-light;

  colorBoardDLS: $color-board-dls;
  colorBoardDWS: $color-board-dws;
  colorBoardTLS: $color-board-tls;
  colorBoardTWS: $color-board-tws;
  colorBoardEmpty: $color-board-empty;

  screenSizeTablet: strip-unit($screen-tablet-min);
  screenSizeLaptop: strip-unit($screen-laptop-min);
  screenSizeDesktop: strip-unit($screen-desktop-min);
}

$screen-min-height-laptop-min: 680px;
$screen-min-height-desktop-min: 830px;
$screen-min-height-desktop-max: 910px;

$font-deco: 'Fjalla One', sans-serif;
$font-default: 'Muli', sans-serif;
$font-monospaced: 'Roboto Mono', monospace;

$tile-size-mobile: 34px;
$tile-size-tablet: 34px;
$tile-size-laptop:  34px;
$tile-size-desktop: 44px;

$board-size-mobile: $tile-size-mobile * 15;
$board-size-tablet: $tile-size-tablet * 15;
$board-size-laptop: $tile-size-laptop * 15;
$board-size-desktop: $tile-size-desktop * 15;

$main-container-width-mobile: $board-size-mobile + 24px;
$main-container-width-tablet: $board-size-tablet + 24px;
$main-container-width-laptop: $board-size-laptop + 24px;
$main-container-width-desktop: $board-size-desktop + 24px;

$sidebar-width-tablet: calc((100% - #{$main-container-width-laptop}) - 24px);
$sidebar-width-laptop:  calc((100% - #{$main-container-width-laptop}) / 2  - 12px);
$sidebar-width-desktop:  calc((100% - #{$main-container-width-desktop}) / 2  - 12px);

$tile-font-size-mobile: $tile-size-mobile * 0.68;
$tile-font-size-tablet: $tile-size-tablet * 0.68;
$tile-font-size-laptop: $tile-size-laptop * 0.68;
$tile-font-size-desktop: $tile-size-desktop * 0.68;

$point-size-mobile: $tile-font-size-mobile / 3;
$point-size-tablet: $tile-font-size-tablet / 3;
$point-size-laptop: $tile-font-size-laptop / 3;
$point-size-desktop: $tile-font-size-desktop / 3;

@mixin container {
  width: 100%;
  max-width: $main-container-width-mobile;
  position: relative;
  margin: 0 auto;
  padding: 0 12px;
  @media (min-width: $screen-tablet-min) {
    max-width: $main-container-width-tablet * 2;
  }
  @media (min-width: $screen-laptop-min) {
    max-width: $screen-desktop-l-min;
  }
}

@mixin type-default {
  color: black;
  font-family: $font-default;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

@mixin type-monospace {
  color: black;
  font-family: $font-monospaced;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

@mixin type-title {
  font-family: $font-default;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

@mixin type-deco {
  font-family: Fjalla One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5em;
  letter-spacing: 0.15em;
}

@mixin type-link {
  font-family: $font-default;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 2em;
  letter-spacing: 0.16em;
  text-align: center;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
  @include type-deco;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 16px;
}

ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}

.ant-card {
  h1,
  h2,
  h3,
  h4 {
    font-family: $font-default;
    font-weight: bold;
    letter-spacing: 0;
  }

}
.user-context-menu {
  cursor: context-menu;
}
@mixin action-blocks {
  padding-bottom: 64px;
  .ant-card-body {
    max-height: 100%;
    overflow-y: auto;
  }
  .ant-card-actions {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 64px;
    background: transparent;
    li {
      cursor: pointer;
      margin: 0;
      height: 100%;
      border: 0;
      background: white;
      color: black;
      @include type-link;
      span {
        transition: none !important;
        width: 100%;
        height: 100%;
      }
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-size: 12px;
        width: 100%;
        height: 100%;
      }
      &:hover div {
        color: $color-primary-dark;
      }
      &:nth-child(2) {
        background: $color-primary-light;
      }
      &:nth-child(3), &:only-child {
        background: $color-primary-dark;
        div {
          color: white;
        }
        &:hover div {
          color: $color-primary-middle;
        }
      }
      &:first-child {
        border-radius: 0 0 0 8px;
      }
      &:last-child {
        border-radius: 0 0 8px 0;
      }
      &:only-child {
        border-radius: 0 0 8px 8px
      }
    }
  }
}
@mixin tabs {
  .ant-tabs {
    overflow: visible;
    .ant-tabs-ink-bar {
      background: $color-primary-dark;
    }
    .ant-tabs-nav {
      margin: 0;
      border-bottom: 1px solid #EEE;
      .ant-tabs-nav-operations {
        display: none;
      }
      .ant-tabs-nav-list {
        width: 100%;
        justify-content: space-evenly;
      }
    }
    .ant-tabs-tab {
      justify-content: center;
      padding: 12px 24px;
      margin: 0;
      width: 100%;
      .ant-tabs-tab-btn {
        @include type-link;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
      }
      &:active, &:hover, &.ant-tabs-tab-active  {
        .ant-tabs-tab-btn {
          color: $color-primary-dark;
        }
      }
    }
  }
}
@mixin modal {
  .ant-modal-root {
    .ant-modal-content {
      border-radius: 8px;
    }
    .ant-modal-header {
      border-radius: 8px 8px 0 0;
    }
    .ant-modal-footer {
      border: 0;
    }
  }
}
@mixin button {
  /* buttons */
  button.ant-btn,
  button.primary,
  a.btn-primary,
  button.ant-btn-primary,
  .ant-modal-root button.ant-btn-secondary {
    touch-action: manipulation;
    font-family: $font-default;
    font-size: 12px;
    height: 36px;
    font-weight: 800;
    background: white;
    text-transform: uppercase;
    transition: none;
    margin: 0 6px;
    padding: 3px 18px;
    span.key-command {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 4px;
      font-size: 10px;
      opacity: 0;
    }
    &,
    &:hover,
    &:focus,
    &:visited,
    &:active {
      border-color: $color-primary-dark;
      color: $color-primary-dark;
      background: white;
      transition: none;
    }
    &:not([disabled]):hover {
      span.key-command {
        opacity: 1;
      }
    }
  }

  button.ant-modal-close {
    transition: none;
  }

  button.ant-btn-circle {
    height: 32px;
  }

  button.ant-btn-primary, button.primary, a.btn-primary {
    height: 36px;
    margin: 6px 3px;
    background: $color-primary-dark;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    border: 0;
    outline: 0;
    transition: none;
    cursor: pointer;
    &.ant-btn-dangerous {
      &,
      &:hover,
      &:focus,
      &:visited,
      &:active {
        background: $color-timer-out-dark;
        border: $color-timer-out-dark;
        transition: none;
      }
    }
    &,
    &:hover,
    &:focus,
    &:visited,
    &:active {
      background: $color-primary-dark;
      color: white;
      transition: none;
    }
    &:disabled, &:disabled:hover {
      background: $color-gray-light;
      color: white;
    }
  }
}

@mixin notification {
  .ant-message {
    pointer-events: none;
  }
  .ant-notification, .ant-message {
    .ant-notification-notice, .ant-message-notice-content {
      @include type-default;
      background: $color-primary-dark;
      color: white;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 0.06em;
      .ant-notification-notice-message {
        font-weight: 1000;
        color: white;
      }
      span.message-action {
        font-weight: 600;
        text-decoration: underline;
        cursor: pointer;
      }
      .anticon {
        color: $color-primary-light;
      }
    }
  }
}

