@import 'color_modes';

$card-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
$card-shadow-lower: 0px 0px 6px rgba(0, 0, 0, 0.15);
$card-padding: 16px;
$card-padding-md: ($card-padding / 2);

$header-height-mobile: 96px;
$header-height-desktop: 60px;

$screen-mobile-min: 768px;
$screen-tablet-min: 1024px;
$screen-laptop-min: 1280px;
$screen-desktop-min: 1440px;
$screen-desktop-l-min: 1920px;

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}
// Magic that makes variables available to the tsx code
:export {
  colorPrimary: #2d6a9e;
  screenSizeTablet: strip-unit($screen-tablet-min);
  screenSizeLaptop: strip-unit($screen-laptop-min);
  screenSizeDesktop: strip-unit($screen-desktop-min);
}

$screen-min-height-laptop-min: 680px;
$screen-min-height-desktop-min: 830px;
$screen-min-height-desktop-max: 910px;

$font-deco: 'Fjalla One', sans-serif;
$font-default: 'Mulish', sans-serif;
$font-monospaced: 'Courier Prime', monospace;
$font-tile: 'Roboto Mono', monospace;

$tile-size-mobile: 34px;
$tile-size-tablet: 34px;
$tile-size-laptop: 34px;
$tile-size-desktop: 44px;

$board-size-mobile: $tile-size-mobile * 15;
$board-size-tablet: $tile-size-tablet * 15;
$board-size-laptop: $tile-size-laptop * 15;
$board-size-desktop: $tile-size-desktop * 15;

$main-container-width-mobile: $board-size-mobile + 24px;
$main-container-width-tablet: $board-size-tablet + 24px;
$main-container-width-laptop: $board-size-laptop + 24px;
$main-container-width-desktop: $board-size-desktop + 24px;

$sidebar-width-tablet: calc((100% - #{$main-container-width-laptop}) - 24px);
$sidebar-width-laptop: calc(
  (100% - #{$main-container-width-laptop}) / 2 - 12px
);
$sidebar-width-desktop: calc(
  (100% - #{$main-container-width-desktop}) / 2 - 12px
);

$settings-width: calc(35%);

$tile-font-size-mobile: $tile-size-mobile * 0.68;
$tile-font-size-tablet: $tile-size-tablet * 0.68;
$tile-font-size-laptop: $tile-size-laptop * 0.68;
$tile-font-size-desktop: $tile-size-desktop * 0.68;

$point-size-mobile: $tile-font-size-mobile / 3.1;
$point-size-tablet: $tile-font-size-tablet / 2.6;
$point-size-laptop: $tile-font-size-laptop / 2.8;
$point-size-desktop: $tile-font-size-desktop / 2.8;

@mixin container {
  width: 100%;
  max-width: $main-container-width-mobile;
  position: relative;
  margin: 0 auto;
  padding: 0 12px;
  @media (min-width: $screen-tablet-min) {
    max-width: $main-container-width-tablet * 2;
  }
  @media (min-width: $screen-laptop-min) {
    max-width: $screen-desktop-l-min;
  }
}

@mixin type-default {
  font-family: $font-default;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  @include colorModed() {
    color: m($gray-extreme);
  }
}

@mixin type-monospace {
  font-family: $font-monospaced;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

@mixin type-title {
  font-family: $font-default;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25em;
}

@mixin type-deco {
  font-family: Fjalla One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5em;
  letter-spacing: 0.15em;
}

@mixin type-link {
  font-family: $font-default;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 2em;
  text-align: center;
}

h1,
h2,
h3,
h4 {
  @include type-title;
  @include colorModed() {
    color: m($gray-extreme);
  }
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ant-card {
  h1,
  h2,
  h3,
  h4 {
    font-family: $font-default;
    font-weight: bold;
    letter-spacing: 0;
  }
  @include colorModed() {
    color: m($gray-extreme);
    background-color: m($card-background);
    box-shadow: m($shadow);
  }
}

.ant-tag {
  font-weight: 800;
  color: #414141;
}

.ant-tag-gold {
  background: #fcc65e;
  color: #414141;
  border-color: #fcc65e;
}

.ant-tag-cyan {
  background: #55c0e9;
  color: #414141;
  border-color: #55c0e9;
}

.ant-tag-pink {
  background: #b80c79;
  color: #ffffff;
  border-color: #b80c79;
}

.ant-tag-purple {
  background: #baadbb;
  color: #414141;
  border-color: #baadbb;
}

.ant-tag-lime {
  background: #abec63;
  color: #414141;
  border-color: #abec63;
}

.ant-tag-orange,
.ant-tag-bye {
  background: #fcac69;
  color: #414141;
  border-color: #fcac69;
}
.ant-tag-gray {
  background: #aaaaaa;
  color: #414141;
  background: #aaaaaa;
}

.ant-tag-yellow {
  background: #f8c033;
  color: #414141;
  border-color: #f8c033;
}

.ant-tag-green {
  background: #b2e49b;
  color: #414141;
  border-color: #b2e49b;
}

.ant-tag-blue,
.ant-tag-repeat {
  background: #b2dcf0;
  color: #414141;
  border-color: #b2dcf0;
}
.ant-tag-red,
.ant-tag-removed,
.ant-tag-forfeit {
  background: #8a0f23;
  color: #ffffff;
  border-color: #8a0f23;
}

.ant-tag-volcano {
  background: #b3263c;
  color: #ffffff;
  border-color: #b3263c;
}

.ant-tag-magenta {
  background: #9c3e9b;
  color: #ffffff;
  border-color: #9c3e9b;
}

.ant-card-head {
  @include colorModed() {
    border-color: m($card-background);
  }
}

.ant-card-head-title {
  font-family: $font-default;
  font-weight: 700;
  @include colorModed() {
    color: m($gray-extreme);
  }
}

.ant-card-bordered {
  @include colorModed() {
    border: 1px solid m($off-background);
  }
}

.ant-dropdown-menu,
.ant-select-dropdown {
  padding: 0;
  z-index: 1100;
  @include colorModed() {
    background: m($background);
    color: m($gray-extreme);
  }
}

.ant-select-item {
  padding: 0;
  @include colorModed() {
    background: m($card-background);
    color: m($gray-extreme);
  }
}

.ant-select-selector,
.ant-select-item,
.ant-select-dropdown,
.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-select-arrow {
  @include colorModed() {
    background: m($background);
    color: m($gray-extreme);
  }
  z-index: 1100;
  .hover-help {
    display: none;
  }
}
.ant-input-affix-wrapper,
.ant-input-affix-wrapper .anticon {
  @include colorModed() {
    background: m($background);
    color: m($gray-extreme);
  }
}
.ant-form-item input,
.ant-select-single:not(.ant-select-customize-input)
  .ant-select-selector
  .ant-select-selection-search-input {
  @include colorModed() {
    background: m($background);
    color: m($gray-extreme);
  }
}
.ant-switch-checked {
  @include colorModed() {
    background: m($primary-midDark);
  }
}
.ant-input-number-input {
  @include colorModed() {
    background: m($card-background);
    color: m($gray-extreme);
  }
}

.ant-form .ant-form-item {
  label {
    @include colorModed() {
      color: m($gray-extreme);
    }
  }
  .ant-select-arrow {
    @include colorModed() {
      color: m($gray-medium);
    }
  }
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title,
.ant-radio-wrapper {
  transition: none;
  &,
  .ant-radio-wrapper {
    @include colorModed() {
      background: m($background);
      color: m($gray-extreme);
    }
  }
  &:hover {
    @include colorModed() {
      background: m($background);
      color: m($gray-extreme);
    }
  }
}

.ant-select-item {
  padding: 4px;
  .hover-help {
    display: none;
    @include colorModed() {
      color: m($primary-midDark);
    }
  }
  &:hover {
    @include colorModed() {
      background: m($off-background);
      color: m($primary-dark);
      .hover-help {
        display: inline-block;
      }
    }
  }
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  @include colorModed() {
    background: m($gray-subtle);
    color: m($primary-dark);
  }
  .hover-help {
    display: inline-block;
  }
}

.ant-table-filter-dropdown-btns {
  display: flex;
  align-items: center;
  @include colorModed() {
    background: m($background);
    color: m($gray-extreme);
    border-top: 1px solid m($card-background);
  }
}

.ant-empty-normal {
  @include colorModed() {
    background-color: m($card-background);
  }
}

.ant-popover-inner {
  @include colorModed() {
    background-color: m($card-background);
    color: m($gray-extreme);
  }
}

.ant-modal-close-x {
  @include colorModed() {
    color: m($gray-extreme);
  }
}
.ant-popover-message {
  @include colorModed() {
    color: m($gray-extreme);
  }
}
.ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-topLeft > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-topRight > .ant-popover-content > .ant-popover-arrow {
  @include colorModed() {
    border-right-color: m($card-background);
    border-bottom-color: m($card-background);
  }
}
.user-context-menu {
  cursor: pointer;
}
@mixin action-blocks {
  padding-bottom: 64px;
  .ant-card-body {
    max-height: 100%;
    overflow-y: auto;
  }
  .ant-card-actions {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 64px;
    background: transparent;
    @include colorModed() {
      border-top: 1px solid m($off-background);
    }
    li {
      cursor: pointer;
      margin: 0;
      height: 100%;
      border: 0;
      @include colorModed() {
        background: m($background);
        color: m($gray-extreme);
      }
      @include type-link;
      span {
        transition: none !important;
        width: 100%;
        height: 100%;
      }
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        @include colorModed() {
          color: m($gray-extreme);
        }
        font-size: 14px;
        width: 100%;
        height: 100%;
      }
      &:hover div {
        @include colorModed() {
          color: m($primary-dark);
        }
      }
      &:nth-child(2) {
        @include colorModed() {
          background: m($primary-light);
        }
      }
      &:nth-child(3),
      &:only-child {
        @include colorModed() {
          background: m($primary-dark);
        }
        div {
          @include colorModed() {
            color: m($background);
          }
        }
        &:hover div {
          @include colorModed() {
            color: m($primary-middle);
          }
        }
      }
      &:first-child {
        border-radius: 0 0 0 8px;
      }
      &:last-child {
        border-radius: 0 0 8px 0;
      }
      &:only-child {
        border-radius: 0 0 8px 8px;
      }
    }
  }
}
@mixin tabs {
  .ant-tabs {
    overflow: visible;
    .ant-tabs-ink-bar {
      @include colorModed() {
        background: m($primary-dark);
      }
    }
    &.ant-tabs-top .ant-tabs-nav::before {
      @include colorModed() {
        border-bottom: 1px solid m($off-background);
      }
    }
    .ant-tabs-nav {
      margin: 0;
      @include colorModed() {
        border-bottom: 1px solid m($off-background);
      }
      .ant-tabs-nav-operations {
        display: none;
      }
      .ant-tabs-nav-list {
        width: 100%;
        justify-content: space-evenly;
      }
    }
    .ant-tabs-tab {
      justify-content: center;
      padding: 12px 24px;
      margin: 0;
      width: 100%;
      text-transform: uppercase;
      @include colorModed() {
        color: m($gray-extreme);
      }
      .ant-tabs-tab-btn {
        @include type-link;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
      }
      &:active,
      &:hover,
      &.ant-tabs-tab-active {
        .ant-tabs-tab-btn {
          @include colorModed() {
            color: m($primary-dark);
          }
        }
      }
    }
  }
}
@mixin modal {
  .ant-modal-root {
    .ant-modal-content {
      border-radius: 8px;
      @include colorModed() {
        background: m($background);
        color: m($gray-extreme);
      }
    }
    .ant-modal-header {
      border-radius: 8px 8px 0 0;
      @include colorModed() {
        background: m($background);
        color: m($gray-extreme);
      }
      .ant-modal-title {
        @include colorModed() {
          color: m($gray-extreme);
        }
      }
    }
    .ant-modal-footer {
      border: 0;
    }
    @media (max-width: $screen-mobile-min + 1) {
      .ant-modal-mask {
        @include colorModed() {
          background: m($background);
        }
      }
      .ant-modal {
        margin: unset;
        max-width: unset;
        top: 0;
        .ant-modal-content {
          height: 100vh;
          width: 100vw;
          box-shadow: none;
          padding-bottom: 48px;
        }
        .ant-modal-header {
          border-radius: 0;
        }
        .ant-modal-footer,
        .ant-modal-confirm-btns {
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100vw;
          flex-direction: column;
          padding: 12px;
          button,
          button.ant-btn {
            width: 100%;
            margin: 6px 0;
          }
        }
      }
    }
  }
}
@mixin button {
  /* buttons */
  button.ant-btn,
  button.primary,
  a.btn-primary,
  button.ant-btn-primary,
  .ant-modal-root button.ant-btn-secondary {
    touch-action: manipulation;
    font-family: $font-default;
    font-size: 12px;
    height: 36px;
    font-weight: 800;
    transition: none;
    margin: 0 6px;
    @include colorModed() {
      background-color: m($background);
      border-color: m($primary-dark);
      color: m($primary-dark);
    }
    &:not(.ant-btn-circle) {
      padding: 3px 18px;
    }

    span.key-command {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 4px;
      font-size: 10px;
      opacity: 0;
    }
    &,
    &:hover,
    &:focus,
    &:visited,
    &:active {
      transition: none;
      @include colorModed() {
        background-color: m($background);
        border-color: m($primary-dark);
        color: m($primary-dark);
      }
    }
    &:disabled {
      @include colorModed() {
        border-color: m($gray-subtle);
        color: m($gray-subtle);
      }
    }
    &:not([disabled]):hover {
      span.key-command {
        opacity: 1;
      }
    }
  }

  button.ant-modal-close {
    transition: none;
  }

  button.ant-btn-circle {
    height: 32px;
  }

  button.ant-btn-primary,
  button.primary,
  a.btn-primary {
    margin: 6px 3px;
    @include colorModed() {
      background-color: m($button);
      color: m($button-text);
    }
    border: 0;
    outline: 0;
    transition: none;
    cursor: pointer;
    &:not(.ant-btn-circle) {
      border-radius: 3px;
    }
    &.ant-btn-dangerous {
      &,
      &:hover,
      &:focus,
      &:visited,
      &:active {
        @include colorModed() {
          background: m($timer-out-dark);
          border: m($timer-out-dark);
        }
        transition: none;
      }
    }
    &,
    &:hover,
    &:focus,
    &:visited,
    &:active {
      @include colorModed() {
        background-color: m($button);
        color: m($button-text);
      }
      transition: none;
    }
    &:disabled,
    &:disabled:hover {
      @include colorModed() {
        background-color: m($gray-subtle);
        color: m($background);
      }
    }
  }
}

@mixin notification {
  .ant-message {
    pointer-events: none;
  }
  .ant-notification,
  .ant-message {
    .ant-notification-notice,
    .ant-message-notice-content,
    a {
      @include type-default;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 0.06em;
      @include colorModed() {
        background: m($primary-dark);
        color: m($background);
      }
      .ant-notification-notice-message {
        font-weight: 1000;
        max-width: 80%;
        @include colorModed() {
          color: m($background);
        }
      }

      .ant-notification-notice-description p {
        padding-right: 12px;
      }
      span.message-action {
        font-weight: 600;
        text-decoration: underline;
        cursor: pointer;
      }
      .anticon {
        @include colorModed() {
          color: m($primary-light);
        }
      }
    }
    button.ant-btn,
    button.ant-btn-primary,
    button.primary,
    a.btn-primary {
      box-shadow: none;
      font-size: 14px;
      @include colorModed() {
        background-color: transparent;
        border-color: m($background);
        color: m($background);
      }
    }
  }
}
