$card-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
$card-shadow-lower: 0px 0px 6px rgba(0, 0, 0, 0.15);
$card-padding: 16px;
$card-padding-md: ($card-padding / 2);

$header-height-mobile: 96px;
$header-height-desktop: 60px;
/* colors */

$color-primary-light: #e2f8ff;
$color-primary-middle: #c9f0ff;
$color-primary-midDark: #3b88ca;
$color-primary-dark: #2d6a9e;
$color-secondary: #6b268b;
$color-secondary-light: #d5cad6;
$color-secondary-lighter: #f8f2fc;
$color-secondary-medium: #97699b;
$color-timer-light: #e5ffdf;
$color-timer-dark: #449e2d;
$color-timer-low-light: #fff4d8;
$color-timer-low-dark: #f4b000;
$color-timer-out-light: #ffeaea;
$color-timer-out-dark: #a92e2e;

$color-board-dls: desaturate(darken(#e2f8ff, 10%), 25%);
$color-board-dws: desaturate(darken(#ffeaea, 10%), 25%);
$color-board-tws: #a92e2e;
$color-board-tls: #3b88ca;
$color-board-empty: white;

$color-gray-middle: #bebebe;

// Magic that makes variables available to the tsx code
:export {
  colorSecondary: $color-secondary;
  colorSecondaryMedium: $color-secondary-medium;
  colorSecondaryLight: $color-secondary-light;

  colorPrimary: $color-primary-dark;

  colorBoardDLS: $color-board-dls;
  colorBoardDWS: $color-board-dws;
  colorBoardTLS: $color-board-tls;
  colorBoardTWS: $color-board-tws;
  colorBoardEmpty: $color-board-empty;
}

$screen-tablet-min: 768px;
$screen-laptop-min: 1024px;
$screen-desktop-min: 1280px;
$screen-desktop-max: 1440px;

$screen-min-height-laptop-min: 680px;
$screen-min-height-desktop-min: 800px;
$screen-min-height-desktop-max: 940px;

$font-deco: 'Fjalla One', sans-serif;
$font-default: 'Muli', sans-serif;
$font-monospaced: 'Roboto Mono', monospace;

@mixin type-default {
  color: black;
  font-family: $font-default;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

@mixin type-monospace {
  @include type-default;
  font-family: $font-monospaced;
}

@mixin type-title {
  @include type-default;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

@mixin type-deco {
  @include type-default;
  font-family: Fjalla One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5em;
  letter-spacing: 0.15em;
}

h1,
h2,
h3,
h4 {
  @include type-deco;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 16px;
}
@mixin button {
  /* buttons */
  button.ant-btn,
  button.ant-btn-primary,
  .ant-modal-root button.ant-btn-secondary {
    height: 36px;
    margin: 6px 3px;
    font-weight: 500;
    background: white;
    text-transform: uppercase;
    transition: none;
    &,
    &:hover,
    &:focus,
    &:visited,
    &:active {
      border-color: $color-primary-dark;
      color: $color-primary-dark;
      background: white;
      transition: none;
    }
  }

  button.ant-modal-close {
    transition: none;
  }

  button.ant-btn-circle {
    height: 32px;
  }

  button.ant-btn-primary {
    height: 36px;
    margin: 6px 3px;
    background: $color-primary-dark;
    color: white;
    text-transform: uppercase;
    border-radius: 3px;
    transition: none;
    &,
    &:hover,
    &:focus,
    &:visited,
    &:active {
      background: $color-primary-dark;
      color: white;
      transition: none;
    }
    &:disabled {
      background: $color-gray-middle;
      color: white;
    }
  }
}

@mixin fullHeight {
  height: calc(100vh - #{$header-height-desktop} - 30px);

  @media (min-height: $screen-min-height-laptop-min) and (min-width: $screen-laptop-min) {
    height: calc(100vh - #{$header-height-desktop} - 30px);
  }
}

@mixin container {
  min-width: $screen-tablet-min;
  max-width: $screen-tablet-min;
  width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0 12px;

  @media (min-width: $screen-laptop-min) {
    min-width: $screen-laptop-min;
    max-width: $screen-laptop-min;
  }

  @media (min-width: $screen-desktop-min) {
    min-width: $screen-desktop-min;
    max-width: $screen-desktop-min;
  }

  @media (min-width: $screen-desktop-max) {
    min-width: $screen-desktop-max;
    max-width: $screen-desktop-max;
  }
}
