// This should only include mixins and variables
@import 'color_modes';

$card-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
$card-shadow-lower: 0px 0px 6px rgba(0, 0, 0, 0.15);
$card-padding: 16px;
$card-padding-md: ($card-padding / 2);

$header-height-tablet-portrait: 96px;
$header-height-desktop: 60px;

$screen-mobile-min: 375px;
$screen-tablet-portrait-min: 768px;
$screen-tablet-landscape-min: 1024px;
$screen-laptop-min: 1280px;
$screen-desktop-min: 1440px;
$screen-desktop-l-min: 1920px;

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}
// Magic that makes variables available to the tsx code
:export {
  colorPrimary: #2d6a9e;
  screenSizeTablet: strip-unit($screen-tablet-landscape-min);
  screenSizeLaptop: strip-unit($screen-laptop-min);
  screenSizeDesktop: strip-unit($screen-desktop-min);
}

$screen-min-height-mobile-extended: 730px;
$screen-min-height-tablet-portrait-extended: 820px;
$screen-min-height-tablet-landscape-extended: 766px;
$screen-min-height-laptop-min: 820px;
$screen-min-height-desktop-min: 830px;
$screen-min-height-desktop-max: 930px;

$font-deco: 'Fjalla One', sans-serif;
$font-default: 'Mulish', sans-serif;
$font-monospaced: 'Courier Prime', monospace;
$font-tile: 'Roboto Mono', monospace;

$tile-size-mobile: 23px;
$tile-size-tablet-portrait: 34px;
$tile-size-tablet-landscape: 34px;
$tile-size-laptop: 34px;
$tile-size-desktop: 44px;

$board-size-mobile: $tile-size-mobile * 15;
$board-size-tablet-portrait: $tile-size-tablet-portrait * 15;
$board-size-tablet-landscape: $tile-size-tablet-landscape * 15;
$board-size-laptop: $tile-size-laptop * 15;
$board-size-desktop: $tile-size-desktop * 15;

$main-container-width-mobile: $screen-mobile-min;
$main-container-width-tablet-portrait: $board-size-tablet-portrait + 24px;
$main-container-width-tablet-landscape: $board-size-tablet-landscape + 24px;
$main-container-width-laptop: $board-size-laptop + 24px;
$main-container-width-desktop: $board-size-desktop + 24px;

$sidebar-width-tablet-landscape: calc((100% - #{$main-container-width-laptop}) - 24px);
$sidebar-width-laptop: calc(
  (100% - #{$main-container-width-laptop}) / 2 - 12px
);
$sidebar-width-desktop: calc(
  (100% - #{$main-container-width-desktop}) / 2 - 12px
);

$settings-width: calc(35%);

$tile-font-size-mobile: $tile-size-mobile * 0.6;
$tile-font-size-tablet-portrait: $tile-size-tablet-portrait * 0.68;
$tile-font-size-tablet-landscape: $tile-size-tablet-landscape * 0.68;
$tile-font-size-laptop: $tile-size-laptop * 0.68;
$tile-font-size-desktop: $tile-size-desktop * 0.68;

$point-size-mobile: $tile-font-size-mobile / 3.1;
$point-size-tablet-portrait: $tile-font-size-tablet-portrait / 3.1;
$point-size-tablet-landscape: $tile-font-size-tablet-landscape / 2.6;
$point-size-laptop: $tile-font-size-laptop / 2.8;
$point-size-desktop: $tile-font-size-desktop / 2.8;

@mixin container {
  width: 100%;
  max-width: $main-container-width-mobile;
  position: relative;
  margin: 0 auto;
  padding: 0 12px;
  @media (min-width: $screen-tablet-portrait-min) {
    max-width: $main-container-width-tablet-landscape;
  }
  @media (min-width: $screen-tablet-landscape-min) {
    max-width: $main-container-width-tablet-landscape * 2;
  }
  @media (min-width: $screen-laptop-min) {
    max-width: $screen-desktop-l-min;
  }
}

@mixin type-default {
  font-family: $font-default;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  @include colorModed() {
    color: m($gray-extreme);
  }
}

@mixin type-monospace {
  font-family: $font-monospaced;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

@mixin type-title {
  font-family: $font-default;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25em;
}

@mixin type-deco {
  font-family: Fjalla One;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5em;
  letter-spacing: 0.15em;
}

@mixin type-link {
  font-family: $font-default;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 2em;
  letter-spacing: 0.16em;
  text-align: center;
}


@mixin action-blocks {
  padding-bottom: 64px;
  .ant-card-body {
    max-height: 100%;
    overflow-y: auto;
  }
  .ant-card-actions {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 64px;
    background: transparent;
    text-transform: uppercase;
    @include colorModed() {
      border-top: 1px solid m($off-background);
    }
    li {
      cursor: pointer;
      margin: 0;
      height: 100%;
      border: 0;
      @include colorModed() {
        background: m($background);
        color: m($gray-extreme);
      }
      @include type-link;
      span {
        transition: none !important;
        width: 100%;
        height: 100%;
      }
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        @include colorModed() {
          color: m($gray-extreme);
        }
        font-size: 12px;
        width: 100%;
        height: 100%;
      }
      &:hover div {
        @include colorModed() {
          color: m($primary-dark);
        }
      }
      &:nth-child(2) {
        @include colorModed() {
          background: m($primary-light);
        }
      }
      &:nth-child(3),
      &:only-child {
        @include colorModed() {
          background: m($primary-dark);
        }
        div {
          @include colorModed() {
            color: m($background);
          }
        }
        &:hover div {
          @include colorModed() {
            color: m($primary-middle);
          }
        }
      }
      &:first-child {
        border-radius: 0 0 0 8px;
      }
      &:last-child {
        border-radius: 0 0 8px 0;
      }
      &:only-child {
        border-radius: 0 0 8px 8px;
      }
    }
  }
}
@mixin tabs {
  .ant-tabs {
    overflow: visible;
    .ant-tabs-ink-bar {
      @include colorModed() {
        background: m($primary-dark);
      }
    }
    &.ant-tabs-top .ant-tabs-nav::before {
      @include colorModed() {
        border-bottom: 1px solid m($off-background);
      }
    }
    .ant-tabs-nav {
      margin: 0;
      @include colorModed() {
        border-bottom: 1px solid m($off-background);
      }
      .ant-tabs-nav-operations {
        display: none;
      }
      .ant-tabs-nav-list {
        width: 100%;
        justify-content: space-evenly;
      }
    }
    .ant-tabs-tab {
      justify-content: center;
      padding: 12px 24px;
      margin: 0;
      width: 100%;
      text-transform: uppercase;
      @include colorModed() {
        color: m($gray-extreme);
      }
      .ant-tabs-tab-btn {
        @include type-link;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
      }
      &:active,
      &:hover,
      &.ant-tabs-tab-active {
        .ant-tabs-tab-btn {
          @include colorModed() {
            color: m($primary-dark);
          }
        }
      }
    }
  }
}
@mixin modal {
  .ant-modal-root {
    .ant-modal-content {
      border-radius: 8px;
      @include colorModed() {
        background: m($background);
        color: m($gray-extreme);
      }
    }
    .ant-modal-header {
      border-radius: 8px 8px 0 0;
      @include colorModed() {
        background: m($background);
        color: m($gray-extreme);
      }
      .ant-modal-title {
        @include colorModed() {
          color: m($gray-extreme);
        }
      }
    }
    .ant-modal-footer {
      border: 0;
    }
    @media (max-width: $screen-tablet-portrait-min + 1) {
      .ant-modal-mask {
        @include colorModed() {
          background: m($background);
        }
      }
      .ant-modal {
        margin: unset;
        max-width: unset;
        top: 0;
        .ant-modal-content {
          height: 100vh;
          width: 100vw;
          box-shadow: none;
          padding-bottom: 48px;
        }
        .ant-modal-header {
          border-radius: 0;
        }
        .ant-modal-footer, .ant-modal-confirm-btns {
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100vw;
          flex-direction: column;
          padding: 12px;
          button, button.ant-btn {
            width: 100%;
            margin: 6px 0;
          }
        }
      }
    }
  }
}

@mixin notification {
  .ant-message {
    pointer-events: none;
  }
  .ant-notification,
  .ant-message {
    .ant-notification-notice,
    .ant-message-notice-content,
    a {
      @include type-default;
      font-size: 15px;
      font-weight: 600;
      letter-spacing: 0.06em;
      @include colorModed() {
        background: m($primary-dark);
        color: m($background);
      }
      .ant-notification-notice-message {
        font-weight: 1000;
        max-width: 80%;
        @include colorModed() {
          color: m($background);
        }
      }

      .ant-notification-notice-description p {
        padding-right: 12px;
      }
      span.message-action {
        font-weight: 600;
        text-decoration: underline;
        cursor: pointer;
      }
      .anticon {
        @include colorModed() {
          color: m($primary-light);
        }
      }
    }
    button.ant-btn,
    button.ant-btn-primary,
    button.primary,
    a.btn-primary {
      box-shadow: none;
      font-size: 14px;
      @include colorModed() {
        background-color: transparent;
        border-color: m($background);
        color: m($background);
      }
    }
  }
}
