// The body itself is an outlier
body.mode--dark {
  background: #2E2E2E;
}

// Theming system by Katie McTigue https://medium.com/@katiemctigue/how-to-create-a-dark-mode-in-sass-609f131a3995

//Strings for calling the mixin

$white: 'color-white'; //always white
$black: 'color-black'; //always our darkest

$background: 'color-background';
$off-background: 'color-off-background';
$card-background: 'color-card-background';

$gray-subtle: 'color-gray-subtle';
$gray-medium: 'color-gray-medium';
$gray-dark: 'color-gray-dark';
$gray-extreme: 'color-gray-extreme';
$grid: 'color-grid';


$primary-light: 'color-primary-light';
$primary-middle: 'color-primary-middle';
$primary-midDark: 'color-primary-midDark';
$primary-dark: 'color-primary-dark';
$secondary: 'color-secondary';
$secondary-dark: 'color-secondary-dark';
$secondary-light: 'color-secondary-light';
$secondary-lighter: 'color-secondary-lighter';
$secondary-medium: 'color-secondary-medium';

$button: 'color-button';
$button-text: 'color-button-text';
$logo: 'color-logo';
$logo-text: 'color-logo-text';
$header: 'color-header';
$footer: 'color-footer';
$footer-logo: 'color-footer-logo';
$footer-text: 'color-footer-text';
$footer-w: 'color-footer-w';

$board-dls: 'color-board-dls';
$board-dws: 'color-board-dws';
$board-tws: 'color-board-tws';
$board-tls: 'color-board-tls';
$board-qws: 'color-board-qws';
$board-qls: 'color-board-qls';

$board-empty: 'color-board-empty';
$board-fill: 'color-board-fill';
$board-space-opacity: 'number-board-space-opacity';
$board-space-mix-mode: 'type-board-space-mix-mode';
$board-center-icon: 'color-center-icon';
$board-center-fill: 'color-center-fill';
$board-bonus-text: 'color-bonus-text';
$board-selection-color: 'color-selection-color';

$tile-background: 'color-tile-background';
$tile-background-secondary: 'color-tile-background-secondary';
$tile-background-tertiary: 'color-tile-background-tertiary';
$tile-background-quaternary: 'color-tile-background-quaternary';
$tile-blank-text: 'color-tile-blank-text';
$tile-text: 'color-tile-text';
$tile-last-background: 'color-tile-last-background';
$tile-last-text: 'color-tile-last-text';
$tile-last-blank: 'color-tile-last-blank';
$tile-border: 'color-tile-border';
$list-header: 'color-list-header';
$list-header-text: 'color-list-header-text';

$timer-light: 'color-timer-light';
$timer-dark: 'color-timer-dark';
$timer-low-light: 'color-timer-low-light';
$timer-low-dark: 'color-timer-low-dark';
$timer-out-light: 'color-timer-out-light';
$timer-out-dark: 'color-timer-out-dark';

$profile-game-win: 'color-profile-game-win';
$profile-game-tie: 'color-profile-game-tie';
$profile-game-loss: 'color-profile-game-loss';

$shadow: 'shadow';
$shadow-lower: 'shadow-lower';
$board-shadow: 'board-shadow';

$modes: (
        default: (
          shadow: 0px 0px 12px rgba(0, 0, 0, 0.1),
          shadow-lower: 0px 0px 6px rgba(0, 0, 0, 0.1),
          board-shadow: 0 0 6px #777777,

          color-white: #ffffff,
          color-black: #414141,

          color-background: #ffffff,
          color-card-background: #ffffff,
          color-off-background: #eeeeee,

          color-gray-subtle: #bebebe,
          color-gray-medium: #999999,
          color-gray-dark: #777,
          color-gray-extreme: #414141,

          color-grid: #c3c3c3,

          color-primary-light: #e2f8ff,
          color-primary-middle: #C9F0FF,
          color-primary-midDark: #2786cb,
          color-primary-dark: #11659e,
          color-secondary: #6b268b,
          color-secondary-dark: #4d116a,
          color-secondary-light: #d5cad6,
          color-secondary-lighter: #f8f2fc,
          color-secondary-medium: #955f9a,

          color-button: #11659e,
          color-button-text: #ffffff,
          color-header: #ffffff,
          color-footer: #11659e,
          color-footer-logo: #C9F0FF,
          color-footer-text: #FFFFFF,
          color-footer-w: #116593,
          color-logo: #11659e,
          color-logo-text: #C9F0FF,
          color-list-header: #C9F0FF,
          color-list-header-text: #414141,

          color-board-dls: #b9e7f5,
          color-board-dws: #f6c0c0,
          color-board-tws: #a92e2e,
          color-board-tls: #3b88ca,
          color-board-qws: #693072,
          color-board-qls: #ac8bb0,
          color-board-empty: #ffffff,

          color-tile-background: #6b268b,
          color-tile-background-secondary: #cfb7d1,
          color-tile-background-tertiary: #955f9a,
          color-tile-background-quaternary: #dec5e4,
          color-tile-blank-text: #6b268b,
          color-tile-text: #ffffff,
          color-tile-last-background: #f4b000,
          color-tile-last-text: #414141,
          color-tile-last-blank: #414141,
          color-tile-border: 0px solid transparent,

          color-timer-light: #e5ffdf,
          color-timer-dark: #449e2d,
          color-timer-low-light: #fbe5ae,
          color-timer-low-dark: #f4b000,
          color-timer-out-light: #ffeaea,
          color-timer-out-dark: #a92e2e,

          color-profile-game-win: #e5ffdf,
          color-profile-game-tie: #fbe5ae,
          color-profile-game-loss: #ffeaea
        ),
        dark: (
          shadow: 0px 0px 12px rgba(0, 0, 0, 0.2),
          shadow-lower: 0px 0px 6px rgba(0, 0, 0, 0.2),
          board-shadow: 0 0 6px #1a1a1a,

          color-white: #ffffff,
          color-black: #414141,

          color-background: #282828,
          color-off-background: #313131,
          color-card-background: #3A3A3A,

          color-gray-subtle: #515151,
          color-gray-medium: #ccc,
          color-gray-dark: #ddd,
          color-gray-extreme: #ffffff,

          color-grid: #232323,

          color-primary-light: #135380,
          color-primary-middle: #2786cb,
          color-primary-midDark: #7cc4e3,
          color-primary-dark: #C9F0FF,
          color-secondary: #d79fdd,
          color-secondary-dark: #f4b6fb,
          color-secondary-light: #6b268b,
          color-secondary-lighter: #2f1b39,
          color-secondary-medium: #955f9a,

          color-button: #7cc4e3,
          color-button-text: #313131,
          color-header: #282828,
          color-footer: #2f2f2f,
          color-footer-logo: #7cc4e3,
          color-footer-text: #FFFFFF,
          color-footer-w: #135380,
          color-logo: #7cc4e3,
          color-logo-text: #135380,
          color-list-header: #313131,
          color-list-header-text: #b2dcf0,

          color-board-dls: #6dadc9,
          color-board-tls: #115d92,
          color-board-dws: #a9545a,
          color-board-tws: #6b2125,
          color-board-qws: #5f3367,
          color-board-qls: #96729e,
          color-board-empty: #313131,

          color-tile-background: #baadbb,
          color-tile-background-secondary: #643e69,
          color-tile-background-tertiary: #b094b3,
          color-tile-background-quaternary: #5d4269,
          color-tile-blank-text: #baadbb,
          color-tile-text: #313131,
          color-tile-last-background: #fbe5ae,
          color-tile-last-text: #414141,
          color-tile-last-blank: #414141,
          color-tile-border: 0px solid transparent,

          color-timer-light: #24542d,
          color-timer-dark: #b2e49b,
          color-timer-low-light: #fbe5ae,
          color-timer-low-dark: #f4b000,
          color-timer-out-light: #561f22,
          color-timer-out-dark: #ce5f66,

          color-profile-game-win: #24542d,
          color-profile-game-tie: #f4b000,
          color-profile-game-loss: #561f22
        ),
);

@mixin colorModed() {
  @each $mode, $map in $modes {
    .mode--#{$mode} & {
      $mode-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($modes, $mode), '#{$key}');
        $mode-map: map-merge($mode-map, ($key: $value)) !global;
      }
      @content;
      $mode-map: null !global;
    }
  }
}

@function m($key) {
  @return map-get($mode-map, $key);
}
