@import '../base';

.pairings-container {
  padding: 16px;
  .ant-table {
    margin-top: 6px;
    td {
      padding: 12px 6px;
    }
    .ant-table-placeholder {
      td {
        padding: 18px 0;
      }
    }
  }
  .ant-tag-bye {
    margin: 0 6px;
    top: -1px;
    position: relative;
  }
}

.ant-card.paired-mode {
  padding-bottom: 64px;
  .ant-card-body {
    max-height: 100%;
    overflow-y: auto;
  }

  .ant-card-actions {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 64px;
    background: transparent;
    @include colorModed() {
      border-top: 1px solid m($off-background);
    }
    li {
      margin: 0;
      height: 100%;
      border: 0;
      font-size: 14px;
      span {
        transition: none !important;
        font-size: inherit;
        width: 100%;
        height: 100%;
      }
      div {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        @include colorModed() {
          color: m($primary-dark);
        }
        width: 100%;
        height: 100%;
      }
      &:nth-child(2) {
        font-size: 20px;
        @include colorModed() {
          background: m($primary-light);
        }
        div {
          cursor: normal;
          @include colorModed() {
            color: m($gray-extreme);
          }
        }
      }
    }
  }

}