@import '../base.scss';
body {
  width: auto;
  height: auto;
}

.top-header {
  width: 100%;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 2;
  min-height: 60px;
  background: $color-primary-middle;
  *, button.link {
    @include type-default;
    background: transparent;
    letter-spacing: 0.25em;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    .anticon {
      display: inline;
      margin-left: 6px;
      color: $color-gray-dark;
    }

  }
}

.top-header-menu {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding-bottom: 0;
  justify-content: center;
  max-width: none;
  div {
    display: none;
    padding: 12px;
    a {
      color: black;
      white-space: nowrap;
      &:focus,
      &:hover,
      &:active {
        color: $color-primary-dark;
      }
      &:active, &.active {
        border-bottom: 3px;
      }
    }
  }
  @media (min-width: $screen-tablet-min) {
    display: flex;
    div {
      display: flex;
    }
  }
}

.site-icon {
  display: flex;
  /* Inside Auto Layout */
  flex: none;
  align-self: center;
  margin: 0;
  .top-header-site-icon-rect {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-primary-dark;
    border-radius: 4px;
  }
  /* M */
  .top-header-site-icon-m {
    left: 6px;
    top: 0px;
    transform: rotate(-10deg);
    position: relative;
    font-family: $font-default;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    color: white;
  }
  /* Macondo */

  .top-header-left-frame-site-name {
    /* Inside Auto Layout */
    color: $color-primary-dark;
    flex: none;
    text-transform: none;
    align-self: center;
    margin: 0 12px;
    font-size: 28px;
    font-weight: bold;
    line-height: 35px;
    letter-spacing: 0;
  }
}