@import '../base';
@include button;
@include tabs;
/* hide at mobile for now,
 expand board */
.presences .ant-popover-inner-content {
  @include type-default;
  padding: 12px;
  color: $color-primary-dark;
  font-weight: 800;
  max-height: 300px;
  overflow-y: auto;
  li {
    margin: 6px 0;
  }
}
.chat-area {
  order: 3;
  width: 100%;
  margin: 12px 12px 0 12px;
  .ant-card.chat .ant-card-body {
    padding: 0 0 40px 0;
  }
  .ant-tabs-content-holder {
    max-height: calc(100vh - 180px);
    overflow-y: auto;
  }
  #rc-tabs-0-panel-PLAYERS {
    padding: 24px;
  }
  .presence-count {
    @include type-monospace;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.5em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 21px;
    height: 21px;
    background: $color-primary-dark;
    border-radius: 3px;
    padding: 5px;
    color: white;
    margin-left: 6px;
    font-size: 10px;
  }
  .entities {
    padding: 12px 24px;
    .chat-entity {
      .sender {
        color: $color-primary-dark;
        font-weight: 800;
        margin: 0 9px 0 0;
      }
      .message-body {
        color: black;
        margin-bottom: 4px;
        line-height: 1.4em;
      }
      .timestamp {
        color: #6b268b;
        font-size: 75%;
        margin: 0;
        position: relative;
        top: 2px;
      }
    }
  }
}

.chat input {
  position: absolute;
  bottom: 0;
  left: 0;
  left: 0;
  width: calc(100% - 12px);
  margin: 6px;
}

.game-table {
  .chat-area .ant-card {
    height: 640px;
    .ant-tabs-content-holder {
      max-height: 540px;
    }
  }
}

@media (min-width: $screen-laptop-min) {
  .chat-area {
    order: initial;
    display: block;
    flex: 1;
    width: 25%;
    min-width: 25%;
    margin: 0;
  }
  .game-table {
    .chat-area .ant-card {
      height: 680px;
      .ant-tabs-content-holder {
        max-height: 580px;
      }
    }
  }
}

@media (min-width: $screen-desktop-min) {
  .game-table {
    .chat-area .ant-card {
      height: 745px;
      .ant-tabs-content-holder {
        max-height: 645px;
      }
    }
  }
}

@media (min-height: $screen-min-height-desktop-max) and (min-width: $screen-desktop-min) {
  .game-table {
    .chat-area .ant-card {
      height: 810px;
      .ant-tabs-content-holder {
        max-height: 710px;
      }
    }
  }
}
