@import '../base';
@include button;
@include tabs;
/* hide at mobile for now,
 expand board */
p {
  margin: 0;
}
.chat-area {
  order: 3;
  width: 100%;
  margin: 12px 12px 0 12px;
  .ant-card.chat .ant-card-body {
    padding: 0 0 40px 0;
  }
  .ant-tabs-content-holder {
    max-height: calc(70vh - 100px);
    overflow-y: auto;
  }
  #rc-tabs-0-panel-PLAYERS {
    padding: 24px;
  }
  .chat-context {
    color: black;
    min-height: 48px;
    width: 100%;
    background: white;
    font-size: 16px;
    font-weight: bold;
    z-index: 1;
    padding: 12px 24px 0;
    span {
      display: block;
    }
    .list-trigger {
      letter-spacing: 0;
      cursor: pointer;
      color: $color-primary-dark;
      font-weight: bold;
      text-transform: none;
    }
    &.scrolling {
      position: absolute;
      padding-bottom: 12px;
      border-bottom: 1px solid #ddd;
    }
    .presence-count {
      display: flex;
      width: 100%;
      justify-content: space-between;
      color: #707070;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.16em;
      margin: 6px 0;
    }
    &.scrolling + .entities {
      margin-top: 90px;
    }
    .presence {
      color: $color-primary-dark;
      font-weight: bold;
      span.anonymous {
        color: #444;
        font-weight: normal;
        display: inline;
      }
    }
  }
  .entities {
    padding: 12px 24px;
    .chat-entity {
      .sender {
        color: $color-primary-dark;
        font-weight: 800;
        margin: 0 9px 0 0;
      }
      .message-body {
        color: black;
        margin-bottom: 4px;
        line-height: 1.4em;
      }
      .timestamp {
        color: #6b268b;
        font-size: 75%;
        margin: 0;
        position: relative;
        top: 2px;
      }
    }
  }
}

.chat input {
  position: absolute;
  bottom: 0;
  left: 0;
  left: 0;
  width: calc(100% - 12px);
  margin: 6px;
}

.game-table {
  .chat-area .ant-card {
    height: 640px;
    .ant-tabs-contezt-holder {
      max-height: 550px;
    }
  }
}

@media (min-width: $screen-tablet-min) {
  .chat-area .ant-tabs-content-holder {
    max-height: calc(100vh - 180px);
    overflow-y: auto;
  }
}
@media (min-width: $screen-laptop-min) {
  .chat-area {
    order: initial;
    display: block;
    flex: 1;
    width: 25%;
    min-width: 25%;
    margin: 0;
  }
  .game-table {
    .chat-area .ant-card {
      height: 600px;
      .ant-tabs-content-holder {
        max-height: 510px;
      }
    }
  }
}

@media (min-height: $screen-min-height-desktop-min) and (min-width: $screen-desktop-min) {
  .game-table {
    .chat-area .ant-card {
      height: 745px;
      .ant-tabs-content-holder {
        max-height: 655px;
      }
    }
  }
}

@media (min-height: $screen-min-height-desktop-max) and (min-width: $screen-desktop-min) {
  .game-table {
    .chat-area .ant-card {
      height: 810px;
      .ant-tabs-content-holder {
        max-height: 720px;
      }
    }
  }
}
