@import '../base';
@include button;
@include tabs;
/* hide at mobile for now,
 expand board */
p {
  margin: 0;
}

.breadcrumb {
  padding: 6px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  letter-spacing: 1.3px;
  @include colorModed() {
    color: m($gray-medium);
  }
  p {
    @include colorModed() {
      color: m($gray-medium);
    }
  }
  .link.plain {
    text-transform: none;
    font-size: 14px;
    @include colorModed() {
      color: m($primary-dark);
    }
  }
  .anticon {
    font-size: 18px;
    margin-right: 12px;
  }
}

.notification {
  display: inline-flex;
  width: 15px;
  height: 15px;
  font-size: 10px;
  font-family: 'Muli';
  line-height: 0;
  text-align: center;
  padding: 1px 0 0 2px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 6px;
  color: white;
  @include colorModed() {
    background: m($timer-out-dark);
  }
}

.chat-area {
  order: 3;

  p {
    font-family: $font-default;
  }
  font-family: $font-default;
  .ant-card.chat {
    height: $main-container-width-tablet + 60px;
    margin-bottom: 12px;
    .entities {

      overflow-y: auto;
      max-height: $main-container-width-tablet - 122px;
    }
  }

  p.disabled-message {
    padding: 24px;
    @include colorModed() {
      color: m($gray-extreme);
    }
  }
  .ant-card.chat .ant-card-body {
    padding: 0 0 40px 0;
  }

  .channel-list {
    overflow-y: auto;
    max-height: $main-container-width-tablet;
  }
  .chat-context, .channel-list {
    min-height: 48px;
    width: 100%;
    @include colorModed() {
      background: m($card-background);
      color: m($gray-extreme);
    }
    font-size: 16px;
    font-weight: bold;
    z-index: 1;
    padding: 12px 24px 0;
    .list-trigger {
      letter-spacing: 0;
      cursor: pointer;
      @include colorModed() {
        color: m($primary-dark);
      }
      font-weight: bold;
      text-transform: none;
    }
    .ant-select {
      width: 100%;
      max-width: 500px;
      margin-bottom: 24px;
      @include colorModed() {
        background: m($card-background);
        color: m($gray-extreme);
      }
      .ant-select-selection-placeholder {
        z-index: 1;
        font-weight: 400;
        opacity: 0.8;
        @include colorModed() {
          color: m($gray-medium);
        }
      }
      input, .ant-select-selector {
        @include colorModed() {
          background: m($card-background);
          color: m($gray-extreme);
        }
      }
    }

    .presence-count {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: space-between;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.16em;
      margin: 6px 0;
      @include colorModed() {
        color: m($gray-medium);
      }
      span {
        display: block;
      }
    }
    .presence {
      font-weight: bold;
      z-index: 2;
      @include colorModed() {
        color: m($primary-dark);
      }
      span.anonymous {
        font-weight: normal;
        display: inline;
        @include colorModed() {
          color: m($gray-medium)
        }
      }
    }
    &.scrolling {
      padding-bottom: 12px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
      @include colorModed() {
        border-bottom: 1px solid m($off-background);
      }
      .presence {
        position: absolute;
        width: 100%;
        padding: 12px 24px;
        left: 0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
        @include colorModed() {
          background: m($card-background);
          border-bottom: 1px solid m($off-background);
        }
      }
    }
    .channel-listing {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-bottom: 18px;
      .player-avatar {
        margin-right: 12px;
        &.channel-icon {
          &.ch-tournament {
            background: #955f9a;
          }
          &.ch-lobby {
            background:  #888;
          }
        }
      }
      .listing-name {
        font-weight: 800;
        @include colorModed() {
          color: m($gray-extreme);
        }
      }

      .country-flag {
        margin: 0 0 0 6px;
      }
      &.unread {
        .listing-name {
          font-weight: 700;
        }
        .listing-preview {
          font-weight: 700;
          margin-top: 0;
          @include colorModed() {
            color: m($primary-dark);
          }
        }
      }
      &:first-child {
        margin-top: 12px;
      }
      &:last-child {
        margin-bottom: 24px;
      }
    }
    .listing-preview {
      font-size: 14px;
      font-weight: 200;
      margin-top: 6px;
      width: 100%;
      max-width: 400px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1em;
      padding-bottom: 6px;
      @include colorModed() {
        color: m($gray-extreme);
      }
      @media (min-width: $screen-tablet-min) {
        max-width: 100%;
      }
      @media (min-width: $screen-laptop-min) {
        max-width: calc(15vw);
      }
      @media (min-width: $screen-desktop-l-min) {
        max-width: calc(20vw);
      }
    }
  }
  .description {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .unread-marker {
      font-size: inherit;
      padding: 0 6px;
    }
  }
  .channel-list .breadcrumb {
    text-transform: uppercase;
    padding-bottom: 12px;
    margin-top: 12px;
    font-size: 12px;
    @include colorModed() {
      color: m($gray-medium);
    }
  }
  .breadcrumb.clickable {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    max-height: 24px;
    width: calc(100% - 18px);
    margin-bottom: 12px;
    &.unread {
      @include colorModed() {
        color: m($primary-dark);
      }
    }
  }
  .anticon-setting {
    margin: 0;
    cursor: pointer;
    font-size: 18px;
    @include colorModed() {
      color: m($gray-medium);
    }
  }
  .unread-marker {
    font-size: 21px;
    padding: 0 6px 3px;
    @include colorModed() {
      color: m($primary-dark);
    }
  }

  .entities {
    padding: 12px 24px 0px;
    .chat-entity {
      width: 100%;
      width: 100%;
      display: flex;
      align-items: flex-start;
      margin-bottom: 15px;
      &:hover {
        .timestamp {
          visibility: visible;
        }
      }
      .sender {
        font-weight: 800;
        margin: 0 6px 0 0;
        @include colorModed() {
          color: m($primary-dark);
        }
      }
      .message {
        line-height: normal;
        overflow-wrap: anywhere;
        word-break: break-word;
      }
      .player-avatar {
        width: 36px;
        height: 36px;
        min-width: 36px;
        font-size: 20px;
        margin-right: 12px;
        @media (min-width: $screen-tablet-min) {
          width: 36px;
          height: 36px;
          min-width: 36px;
          font-size: 20px;
        }
      }
      .country-flag {
        margin: 0 0 0 6px;
      }
      .message-details {
        flex: 2;
        line-height: 1.2em;
      }
      .special-sender {
        @include colorModed() {
          color: m($primary-dark);
        }
        span.user-context-menu.ant-dropdown-trigger {
          padding-right: 9px;
          margin: 0;
        }
        font-weight: 800;
        .ant-tag {
          position: relative;
          top: -1px;
          font-size: 11px;
          text-transform: uppercase;
          letter-spacing: 0.16em;
          padding: 0 2px 0 4px;
          line-height: 14px;
          &.director {
            color: #52186d;
          }
          &.admin {
            color: #444444;
          }
          &.mod {
            color: #1d6b0a;
          }
        }
      }
      .sender-info {
        margin-bottom: 6px;

        @include colorModed() {
          color: m($gray-extreme);
        }
      }
      .timestamp {
        @include colorModed() {
          color: m($secondary);
        }
        visibility: hidden;
        float: right;
        font-size: 75%;
        margin: 3px 0;
        position: relative;
        text-align: right;
        top: -2px;
      }
    }
    .server-error {
      @include colorModed() {
        color: m($timer-out-dark);
      }
    }
    .server-message {
      @include colorModed() {
        color: m($timer-dark);
      }
    }
  }
}



.game-table {
  .chat-area {
    .ant-card.chat {
      height: 400px;
    }
    &.has-disclaimer {
      .ant-card.disclaimer {
        height: 100px;
        line-height: 1.3em;
        margin-top: 12px;
        font-size: 13px;
        .ant-card-body {
          padding: 6px 12px;
          display: flex;
          justify-content: space-around;
          align-items: center;
        }

        .club-logo {
          width: 78px;
          margin: 3px 0 3px 9px;
        }
      }
    }
  }
}

.chat input[name='chat-input'] {
  position: absolute;
  bottom: 0;
  left: 0;
  left: 0;
  width: calc(100% - 12px);
  margin: 6px;
  @include colorModed() {
    background: m($card-background);
    color: m($gray-extreme);
  }
}

@media (min-width: $screen-laptop-min) {
  .game-table {
    .chat-area {
      .ant-card.chat {
        height: 355px;
        margin-bottom: 12px;
      }
      &.has-disclaimer {
        .ant-card.chat {
          height: 328px;
        }
        .ant-card.notepad-card, .ant-card.analyzer-card {
          .ant-card-body {
            height: 90px;
          }
        }
      }
    }
  }
  .competitor .game-table {
    .chat-area {
      .ant-card.chat {
        height: 290px;
      }
      &.has-disclaimer {
        .ant-card.chat {
          height: 290px;
        }
        .ant-card.notepad-card, .ant-card.analyzer-card {
          .ant-card-body {
            height: 90px;
          }
        }
      }
    }
  }
  .chat-area {
    order: initial;
    display: block;
    flex: 1;
    width: 25%;
    min-width: 25%;
    margin: 0;
  }
}

@media (min-height: $screen-min-height-desktop-min) and (min-width: $screen-desktop-min) {
  .game-table {
    .chat-area {
      .ant-card.chat {
        height: 495px;
      }
      &.has-disclaimer {
        .ant-card.chat {
          height: 420px;
        }
        .ant-card.notepad-card, .ant-card.analyzer-card {
          .ant-card-body {
            height: 90px;
          }
        }
      }
    }
  }
  .competitor .game-table {
    .chat-area {
      .ant-card.chat {
        height: 430px;
      }
      &.has-disclaimer {
        .ant-card.chat {
          height: 430px;
        }
        .ant-card.notepad-card, .ant-card.analyzer-card {
          .ant-card-body {
            height: 90px;
          }
        }
      }
    }
  }
}

@media (min-height: $screen-min-height-desktop-max) and (min-width: $screen-desktop-min) {
  .game-table {
    .chat-area {
      .ant-card.chat {
        height: 564px;
      }
      &.has-disclaimer {
        .ant-card.chat {
          height: 564px;
        }
        .ant-card.notepad-card, .ant-card.analyzer-card {
          .ant-card-body {
            height: 90px;
          }
        }
      }
    }
  }
  .competitor .game-table {
    .chat-area {
      .ant-card.chat {
        height: 499px;
      }
      &.has-disclaimer {
        .ant-card.chat {
          height: 499px;
        }
        .ant-card.notepad-card, .ant-card.analyzer-card {
          .ant-card-body {
            height: 90px;
          }
        }
      }
    }
  }
}
