@import '../base';
@include button;
@include tabs;
/* hide at mobile for now,
 expand board */
p {
  margin: 0;
}
.chat-area {
  order: 3;
  p {
    font-family: $font-default;
  }
  font-family: $font-default;
  .ant-card.chat {
    height: $main-container-width-tablet + 60px;
    margin-bottom: 24px;
    .entities {

      overflow-y: auto;
      max-height: $main-container-width-tablet - 122px;
    }
  }
  .ant-card.chat .ant-card-body {
    padding: 0 0 40px 0;
  }
  #rc-tabs-0-panel-PLAYERS {
    padding: 24px;
  }
  .channel-list {
    overflow-y: auto;
    max-height: $main-container-width-tablet;
  }
  .chat-context, .channel-list {
    min-height: 48px;
    width: 100%;
    @include colorModed() {
      background: m($card-background);
      color: m($gray-extreme);
    }
    font-size: 16px;
    font-weight: bold;
    z-index: 1;
    padding: 12px 24px 0;
    .list-trigger {
      letter-spacing: 0;
      cursor: pointer;
      @include colorModed() {
        color: m($primary-dark);
      }
      font-weight: bold;
      text-transform: none;
    }
    .ant-select {
      width: 100%;
      max-width: 500px;
      margin-bottom: 24px;
      @include colorModed() {
        background: m($card-background);
        color: m($gray-extreme);
      }
      .ant-select-selection-placeholder {
        z-index: 1;
        font-weight: 400;
        opacity: 0.8;
        @include colorModed() {
          color: m($gray-medium);
        }
      }
      input, .ant-select-selector {
        @include colorModed() {
          background: m($card-background);
          color: m($gray-extreme);
        }
      }
    }
    .breadcrumb {
      padding: 6px 0 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      @include colorModed() {
        color: m($gray-medium);
      }
      p {
        @include colorModed() {
          color: m($gray-medium);
        }
      }
      .link.plain {
        text-transform: none;
        font-size: 14px;
        @include colorModed() {
          color: m($primary-dark);
        }
      }
      .anticon {
        font-size: 18px;
        margin-right: 12px;
      }
    }
    .presence-count {
      position: relative;
      display: flex;
      width: 100%;
      justify-content: space-between;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.16em;
      margin: 6px 0;
      @include colorModed() {
        color: m($gray-medium);
      }
      span {
        display: block;
      }
    }
    .presence {
      font-weight: bold;
      z-index: 2;
      @include colorModed() {
        color: m($primary-dark);
      }
      span.anonymous {
        font-weight: normal;
        display: inline;
        @include colorModed() {
          color: m($gray-medium);
        }
      }
    }
    &.scrolling {
      padding-bottom: 12px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
      @include colorModed() {
        border-bottom: 1px solid m($off-background);
      }
      .presence {
        position: absolute;
        width: 100%;
        padding: 12px 24px;
        left: 0;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
        @include colorModed() {
          background: m($card-background);
          border-bottom: 1px solid m($off-background);
        }
      }
    }
    .channel-listing {
      cursor: pointer;
      .listing-name {
        font-weight: 400;
        @include colorModed() {
          color: m($gray-extreme);
        }
      }
      &.unread {
        .listing-name {
          font-weight: 700;
        }
        .listing-preview {
          font-weight: 700;
            @include colorModed() {
              color: m($primary-dark);
            }
        }
      }
      &:first-child {
        margin-top: 12px;
      }
      &:last-child {
        margin-bottom: 24px;
      }
    }
    .listing-preview {
      font-size: 14px;
      font-weight: 200;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 18px;
      @include colorModed() {
        color: m($gray-extreme);
      }
    }
  }
  .channel-list .breadcrumb {
    text-transform: uppercase;
    padding-bottom: 12px;
    margin-top: 12px;
    font-size: 12px;
    @include colorModed() {
      color: m($gray-medium);
    }
  }
  .breadcrumb.clickable {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    width: calc(100% - 18px);
    margin-bottom: 12px;
    &.unread {
      @include colorModed() {
        color: m($primary-dark);
      }
    }
  }
  .anticon-setting {
    margin: 0;
    cursor: pointer;
    font-size: 18px;
    @include colorModed() {
      color: m($gray-medium);
    }
  }
  .unread-marker {
    font-size: 21px;
    padding: 0 6px 3px;
    @include colorModed() {
      color: m($primary-dark);
    }
  }
  .entities {
    padding: 12px 24px 0px;
    .chat-entity {
      .sender {
        font-weight: 800;
        margin: 0 9px 0 0;
        @include colorModed() {
          color: m($primary-dark);
        }
      }
      .special-sender {
        @include colorModed() {
          color: m($primary-dark);
        }
        font-weight: 800;
        .ant-tag {
          position: relative;
          top: -1px;
          font-size: 11px;
          margin: 0 9px 0 9px;
          text-transform: uppercase;
          letter-spacing: 0.16em;
          padding: 0 2px 0 4px;
          line-height: 14px;
          color: #52186d;
        }
      }
      .message-body {
        margin-bottom: 4px;
        line-height: 1.4em;
        @include colorModed() {
          color: m($gray-extreme);
        }
      }
      .timestamp {
        @include colorModed() {
          color: m($secondary);
        }
        font-size: 75%;
        margin: 3px 0;
        position: relative;
        top: 2px;
      }
    }
    .server-error {
      @include colorModed() {
        color: m($timer-out-dark);
      }
    }
    .server-message {
      @include colorModed() {
        color: m($timer-dark);
      }
    }
  }
}

.game-table {
  .chat-area .ant-card.chat {
    height: 300px;
    .channel-list {
      max-height: 240px;
    }
    .entities {
      max-height: 90px;
    }
  }
}

.chat input {
  position: absolute;
  bottom: 0;
  left: 0;
  left: 0;
  width: calc(100% - 12px);
  margin: 6px;
  @include colorModed() {
    background: m($card-background);
    color: m($gray-extreme);
  }
}

@media (min-width: $screen-laptop-min) {
  .lobby .chat-area .ant-card.chat .entities {
    max-height: calc(100vh - 324px);
  }
  .chat-area .channel-list {
    max-height: calc(100vh - 164px);
  }
  .game-table {
    .chat-area .ant-card.chat {
      height: 355px;
      margin-bottom: 12px;
      .entities {
        max-height: 140px;
      }

    }
    .chat-area .ant-card.chat .channel-list {
      max-height: 295px;
    }
  }
  .chat-area {
    order: initial;
    display: block;
    flex: 1;
    width: 25%;
    min-width: 25%;
    margin: 0;
  }
}

@media (min-height: $screen-min-height-desktop-min) and (min-width: $screen-desktop-min) {
  .game-table {
    .chat-area .ant-card.chat {
      height: 495px;
      .entities {
        max-height: 274px;
      }
    }
    .chat-area .ant-card.chat .channel-list {
      max-height: 435px;
    }
  }
}

@media (min-height: $screen-min-height-desktop-max) and (min-width: $screen-desktop-min) {
  .game-table {
    .chat-area .ant-card.chat {
      height: 564px;
      .entities {
        max-height: 357px;
      }
    }
    .chat-area .ant-card.chat .channel-list {
      max-height: 504px;
    }
  }
}
