@import '../../base';

.game-table {
  padding: 16px;
}
.board-container {
  user-select: none;
  text-align: center;
  padding: 0 12px 24px 24px;
  margin: 6px;
  outline-style: none;
}

.board {
  position: relative;
}

.chat-area, .data-area {
  flex: 0 0 33%;
  max-width: 33%;
  text-align: left;
  .ant-card {
    margin-bottom: 12px;
  }
}

.ant-card {
  border-radius: 8px;
}

/* hide at mobile for now,
 expand board */

.chat-area {

  display: none;
}

.play-area {
  max-width: none;
  flex: 0 0 66%;
}


/* Board spaces */

.board-spaces-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.board-spaces, .tiles {
  width: 100%;
  min-width: 360px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  gap: 1px;
  border: 1px solid #CCC;
  background-color: #CCC;
}

.tiles {
  position: absolute;
  pointer-events: none;
  background-color: transparent;
  border: 1px solid transparent;
  height: 100%;
}

.board-space {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2D6A9E;
}

.board-space::before {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
}

.board-space .anticon {
  position: absolute;
  font-size: 1.5vw;
}

.board-space .logo {
  transform: translateX(10%);
}

.board-space .arrow {
  position: absolute;
}

.bonus-label {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 12px;
}

/* Coordinate labels */

.coord-labels {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.coord-labels.vert {
  position: absolute;
  left: -24px;
  bottom: 0;
  flex-direction: column;
  width: auto;
  height: calc(100% - 24px);
}

.coord-label {
  color: black;
  text-align: right;
  margin: 0;
  font-size: 100%;
  font-weight: 600;
  font-family: 'Source Code Pro', monospace;
  overflow: hidden;
}

/* Rack */

.rack {
  display: flex;
  justify-content: center;
  margin: 24px 0;
  width: 100%;
  height: 3vh;
}

.ant-modal .rack {
  height: auto;
}

.rack-container {
  display: flex;
  justify-content: center;
  align-items: center;
  outline-style: none;
}

/* Tiles - defaults that may be overridden by customization */
.tile, .empty-space {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10%;
  line-height: 0;
  text-align: center;
}

.empty-space {
  pointer-events: none;
}

// squareness fix
.tile::before {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
}

.tile .rune {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 0;
  font-size: 1.5vw;
}

.tile .rune {
  width: 100%;
  margin-bottom: 1px;
}

.tile .point-value {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5vw 0.3vw;
  line-height: 0;
  margin: 0;
  font-size: 0.6vw;
  font-weight: bold;
}

.rack .tile {
  width: calc(100% / 15);
  margin: 3px;
}


.tile .tentative-score {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 70%;
  border-radius: 15%;
  font-size: 0.9vw;
  font-weight: bold;
  margin: 0;
  left: -95%;
  background: #999;
  color: white;
}


// Pool
.pool {
  header {
    @include type-title;
  }
}


@media (min-width: $screen-tablet-min) {


}

@media (min-width: $screen-laptop-min) {
  .chat-area {
    display: block;
  }
  .chat-area, .data-area {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .play-area {
    flex: 0 0 50%;
  }

  .rack {
    height: 3vw;
  }
}
