@import '../../base';
@import '../../shared/layout';
@include button;
@include notification;

.ant-modal-footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  .ant-btn {
    margin: 0 0 0 12px;
  }
}

.game-table {
  .chat-area {
    .ant-card.left-menu {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      padding: 3px 12px;
      height: 50px;
      margin-bottom: 12px;
      .ant-card-body {
        padding: 12px;
      }
      .anticon {
        font-size: 16px;
        margin-right: 9px;
      }
    }
  }
  .end-message {
    width: 100%;
    padding: 12px;
  }
}
.game-container {
  .ant-card {
    box-shadow: $card-shadow;
    border-radius: 8px;
    .ant-card-body {
      padding: 0;
    }

    .ant-card-head {
      min-height: auto;
      padding: 0 12px;
      .ant-card-head-title,
      .ant-card-extra {
        padding: 6px 3px;
        font-size: 13px;
        line-height: 1em;
      }
      .ant-card-extra {
        @include type-default;
        font-weight: bold;
        line-height: 2em;
        font-size: 13px;
      }
    }
  }
}
.ant-dropdown-menu {
  padding: 0;
}

.board-container {
  user-select: none;
  text-align: center;
  padding: 0;
  outline-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  position: relative;
}

.data-area {
  text-align: left;
  .ant-card {
    margin-bottom: 12px;
  }
}

.ant-card {
  border-radius: 8px;
}

.play-area {
  margin: 0 12px;
  flex-grow: 2;
}

/* Board spaces */

.board-spaces-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: $board-size-mobile;
  height: $board-size-mobile;
}
.board-spaces,
.tiles {
  width: $board-size-mobile;
  height: $board-size-mobile;
  min-width: 360px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  gap: 1px;
  background-color: $color-grid;
}
.board-spaces {
  // Using a box shadow that looks like a border to not mess up the
  box-shadow: 0 0 6px scale-color($color-grid, $lightness: -20%);;
}

.tiles {
  position: absolute;
  background-color: transparent;
  border-color: transparent;
  gap: 0;
  border: 0;
  pointer-events: none;
  p {
    color: white;
  }
}

.board-space {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-board-empty;
  border: transparent 1px solid;
  border-color: transparent transparent $color-grid $color-grid;
}

.board-space::before {
  content: '';
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
}
.board-space {
  display: flex;
  .anticon {
    position: absolute;
    color: $color-timer-dark;
    font-size: $tile-font-size-mobile;
  }
  .bonus-label {
    text-align: center;
    color: white;
    font-family: $font-default;
    font-size: 10px;
    font-weight: 800;
    max-width: 30px;
    position: absolute;
    line-height: 1em;
    padding: 0 0 1px;
    opacity: 0;
   }
  &:hover {
    .bonus-label {
      animation: fadeIn 700ms cubic-bezier(.17,.67,.29, 1) 400ms forwards;
    }
  }
  &.selected {
    .bonus-label {
      display: none;
    }
  }
  &.bonus-none {
    background-color: $color-board-empty;
  }
  &.bonus-3WS {
    background-color: $color-board-tws;
    &.selected {
      background-color: mix($color-board-tws, white, $weight: 50%);
      border-color: scale-color($color-timer-light, $lightness: -10%);
      .anticon {
        color: scale-color($color-timer-light, $lightness: -10%);
      }
    }
  }
  &.bonus-2WS {
    background-color: $color-board-dws;
    .anticon-star {
      color: $color-board-tws;
    }
    &.selected {
      background-color: mix($color-board-dws, $color-timer-light, $weight: 60%);
      .anticon-star {
        display: none;
      }
    }
    .bonus-label {
      color: mix($color-board-tws, black, $weight: 90%);
    }
  }
  &.bonus-3LS {
    background-color: $color-board-tls;
    &.selected {
      background-color: mix($color-board-tls, $color-timer-light, $weight: 70%);
      border-color: scale-color($color-timer-light, $lightness: -10%);
      .anticon {
        color: scale-color($color-timer-light, $lightness: -10%);
      }
    }
  }
  &.bonus-2LS {
    background-color: $color-board-dls;
    &.selected {
      background-color: mix($color-board-dls, $color-timer-light, $weight: 30%)
    }
    .bonus-label {
      color: mix($color-board-tls, black, $weight: 50%);
    }
  }
  &.selected {
    border: 1px solid $color-timer-dark;
    background: $color-timer-light;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Coordinate labels */

.coord-labels {
  display: flex;
  justify-content: space-around;
  width: $board-size-mobile;
  p {
    color: black;
  }
}

.coord-labels.vert {
  position: absolute;
  left: -24px;
  bottom: 0;
  flex-direction: column;
  width: auto;
  height: calc(100% - 24px);
}

.coord-label {
  color: black;
  text-align: right;
  margin: 0;
  font-size: 100%;
  font-weight: 600;
  font-family: 'Source Code Pro', monospace;
  overflow: hidden;
}

/* Rack */

.rack {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  width: ($tile-size-mobile * 8);
  height: $tile-size-mobile;
  min-height: $tile-size-mobile;
}

.ant-modal .rack {
  height: auto;
}
.ant-modal-header {
  border: 0;
}

.rack-container {
  display: flex;
  justify-content: center;
  align-items: center;
  outline-style: none;
  margin-top: 12px;
.ant-btn.ant-btn-primary.ant-btn-circle {
  border-radius: 50%;
  width: $tile-size-laptop;
  height: $tile-size-laptop;
  margin: 0 6px;
  padding: 1px 0 0;
  line-height: 0;
  span {
    font-family: $font-monospaced;
    font-weight: 500;
    font-size: 28px;
  }
  .anticon {
    font-size: 20px;
  }
}
  .empty-rack {
    height: 100%;
    flex-grow: 2;
  }
}

/* Tiles - defaults that may be overridden by customization */
.tile,
.empty-space {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 7%;
  line-height: 0;
  text-align: center;
  width: $tile-size-mobile;
  height: $tile-size-mobile;
  &[data-rune="Q"] {
    .rune {
      position: relative;
      left: -3px;
    }
  }
}

// squareness fix
.tile::before {
  content: '';
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
}
.empty-space {
  pointer-events: none;
}

.tile {
  pointer-events: all;
}

.tile.dragging {
  opacity: 0.4;
}

.rune {
  @include type-monospace;
  color: white;
  margin: 0;
  line-height: 0;
  font-size: $tile-font-size-mobile;
  font-weight: 600;
  width: 100%;
  padding-bottom: 3px;
}

.tile .point-value {
  position: absolute;
  bottom: 4px;
  right: 0;
  padding: 0.6vw 0.3vw;
  line-height: 0;
  margin: 0;
  font-size: $point-size-mobile;
  font-weight: bold;
  color: white;
}

.rack .tile {
  width: $tile-size-mobile;
  height: $tile-size-mobile;
  margin: 2px;
  &.dragging {
    opacity: 0.1;
  }
}

.exchange .rack .tile {
  width: $tile-size-laptop;
  height: $tile-size-laptop;
  &.selected {
    position: relative;
    top: -30px;
    box-shadow: $card-shadow;
  }
  .rune {
    font-size: $tile-font-size-laptop;
    line-height: 35px;
  }
  .point-value {
    font-size: $point-size-laptop;
  }
}

.blank-selector {
  display: flex;
  flex-wrap: wrap;
  width: 326px;
  .tile {
    width: $tile-size-desktop;
    height: $tile-size-desktop;
    margin: 0 2px 2px 0;
    .rune {
      font-size: 30px;
    }
  }
}

.tile .tentative-score {
  position: absolute;
  display: flex;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:100%;
  border-radius: 10%;
  font-size: 1.1vw;
  font-weight: bold;
  margin: 1px;
  left: -100%;
  border: 1px solid $color-timer-dark;
  background: $color-timer-light;
  color: $color-timer-dark;
}
.tile:hover {
  .tentative-score {
  }
}

.tile.dragging .tentative-score {
  opacity: 0;
}

// Pool
.pool {
  header {
    @include type-title;
  }
  .ant-card .ant-card-body {
    padding: 0;
  }
  .vc-distribution {
    @include type-default;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    font-size: 11px;
    font-weight: bold;
    display: flex;
    border-radius: 0 0 8px 8px;
    background: $color-primary-dark;
    color: white;
    div {
      width: 50%;
      text-align: center;
      padding: 4px;
      &:first-child {
        background: $color-primary-light;
        color: black;
      }
    }
  }
  .tiles-remaining {
    @include type-monospace;
    font-size: 13px;
    padding: 12px 24px;
    line-height: 1.6em;
    letter-spacing: 0.21em;
    max-height: 150px;
    overflow-y: auto;
    .pool-section {
      word-break: break-word;
    }
    .letter-group {
      // white-space: pre would lock each rune group to a single line if we ever want that
      white-space: normal;
    }
  }
}
.exchange {
  .rack {
    width: 100%;
  }
  .pool {
    .label {
      margin: 0;
    }
    .vc-distribution {
      border-radius: 0;
      background: transparent;
      justify-content: space-between;
      div {
        background-color: $color-primary-dark;
        border-radius: 8px;
        width: calc(50% - 4px);
        letter-spacing: 1px;

        &:first-child {
          background-color: $color-primary-middle;
        }
      }
    }

    .tiles-remaining {
      padding: 12px 0;
      max-height: none;
      font-size: 16px;
      font-weight: 500;
      line-height: 28px;
      overflow-y: visible;
      font-weight: bold;
    }
  }
}
.format-dropdown {
  .ant-dropdown-menu {
    top: -28px;
    li.ant-dropdown-menu-item {
      @include type-default;
      font-weight: bold;
      font-size: 12px;
      height: 24px;
      padding: 0px 12px;
      width: 100px;
      line-height: 2.3em;
      &:hover {
        background: $color-secondary-light;
      }
    }
  }
}
.game-info {
  font-size: 14px;
  &.ant-card .ant-card-body {
    padding: 12px;
  }
  .variant {
    font-weight: 600;
    font-size: 16px;
  }
}
// Scorecard
.score-card {
  .ant-card-body {
    padding: 0;
    & > div {
      min-height: 134px;
      max-height: 134px;
      padding: 8px 16px 16px;
      overflow-y: auto;
    }
    .notepad-container {
      display: flex;
      height: 100%;
    }
    .notepad {
      resize: none;
      width: 100%;
      height: 110px;
      @include type-monospace;
      font-size: 15px;
      line-height: 1.8em;
      letter-spacing: 0.05em;
      padding: 12px;
    }
  }
  .player-avatar {
    margin-right: 12px;
    width: 24px;
    min-width: 24px;
    height: 24px;
    font-size: 16px;
  }

  .turn {
    @include type-monospace;
    color: $color-gray-dark;
    font-size: 11px;
    display: flex;
    padding: 6px 0;
    justify-content: space-between;
    p {
      line-height: 1.2em;
      margin-bottom: 3px;
    }
    .coord, .main-word, .cumulative, .exchanged {
      font-weight: 800;
    }
    .main-word {
      display: block;
      color: $color-gray-dark;
    }
    .pass, .exchanged, .time-penalty, .tiles-left, .challenge {
      color: $color-timer-out-dark;
      display: inline-block;
      margin-bottom: 3px;
    }

    .challenge.unsuccessful {
      color: $color-timer-dark;
    }
    .coords-time {
      flex: 2;
      min-width: 60px;
      max-width: 60px;
    }
    .play {
      flex: 3;
    }
    .scores {
      text-align: right;
    }
  }
}
.game-controls {
  margin: 0 auto;
  button {
    margin: 0 6px;
    padding: 0;
  }
}
.end-message {
  background-color: $color-primary-middle;
  .ant-card-body {
    p {
      color: black;
    }
  }
}

@media (min-width: $screen-mobile-min) {
  .board-spaces-container, .board-spaces, .tiles {
    width: $board-size-mobile;
    height: $board-size-mobile;
  }
  .coord-labels {
    width: $board-size-mobile;
  }
  .rack {
    width: (48 + $tile-size-mobile * 8);
  }
}
@media (min-width: $screen-tablet-min) {
  .board-spaces-container, .board-spaces, .tiles {
    width: $board-size-tablet;
    height: $board-size-tablet;
  }
  .coord-labels {
    width: $board-size-tablet;
  }
  .rack {
    width: (48 + $tile-size-tablet * 8);
  }
  .rack .tile {
    width: $tile-size-tablet;
    height: $tile-size-tablet;
  }
  .tile,
  .empty-space {
    height: $tile-size-tablet;
    width: $tile-size-tablet;
  }
  .tile .rune {
    font-size: $tile-font-size-tablet;
    line-height: 1.2em;
    position: relative;
  }
  .tile .point-value {
    font-size: $point-size-tablet;
    padding: 5px 2px;
    bottom: 1px;
  }
}

@media (min-width: $screen-laptop-min) {
  .game-container {
    .ant-card {
      .ant-card-head {
        .ant-card-head-title,
        .ant-card-extra {
          padding: 12px 3px;
          line-height: 1.5em;
          font-size: 14px;
        }
        .ant-card-extra {
          font-size: 14px;
        }
      }
    }

  }

  .play-area {
    flex: 0 0 0;
    padding: 12px 12px 0 30px;
  }
  .board-spaces-container, .board-spaces, .tiles {
    width: $board-size-laptop;
    height: $board-size-laptop;
  }
  .coord-labels {
    width: $board-size-laptop;
  }
  .format-dropdown {
    .ant-dropdown-menu {
      li.ant-dropdown-menu-item {
        height: 32px;
        padding: 0px 16px;
        width: 120px;
        line-height: 2.3em;
        &:hover {
          background: $color-secondary-light;
        }
      }
    }
  }
  .tile,
  .empty-space {
    height: $tile-size-laptop;
    width: $tile-size-laptop;
  }
  .tile.droppable {
    pointer-events: all;
    cursor: grab;
  }
  .tile .rune {
    font-size: $tile-font-size-laptop;
  }
  .tile .point-value {
    font-size: $point-size-laptop;
    padding: 5px 3px;
  }
  .rack {
    width: (48 + $tile-size-laptop * 8);
  }
  .rack .tile {
    height: $tile-size-laptop;
    width: $tile-size-laptop;
  }
  .game-info {
    font-size: 12px;
    .variant {
      font-size: 14px;
    }
  }
    .score-card {
      .turn {
        font-size: 13px;
      }
      .ant-card-body {
        padding: 0;

        & > div {
          min-height: 110px;
          max-height: 110px;
        }
      }
    }

  .game-controls {
    max-width: none;
  }
}

@media (min-height: $screen-min-height-desktop-min) and (min-width: $screen-desktop-min) {
  .data-area .ant-card {
    margin-bottom: 12px;
  }
  .board-spaces-container, .board-spaces, .tiles {
    width: $board-size-desktop;
    height: $board-size-desktop;
  }
  .coord-labels {
    width: $board-size-desktop;
  }
  .tile,
  .empty-space {
    height: $tile-size-desktop;
    width: $tile-size-desktop;
  }
  .rack {
    width: (48 + $tile-size-desktop * 8);
  }
  .rack .tile {
    height: $tile-size-desktop;
    width: $tile-size-desktop;
  }

  .tile .rune {
    font-size: $tile-font-size-desktop;
  }
  .tile .point-value {
    font-size: $point-size-desktop;
    padding: 7px 3px;
  }
  .game-info {
    font-size: 14px;
    .variant {
      font-weight: 600;
      font-size: 16px;
    }
  }
  .score-card {
    .turn {
      font-size: 14px;
    }
    .ant-card-body {
      & > div {
        max-height: 252px;
        min-height: 252px;
      }
      .notepad {
        height: 228px;
      }
    }
  }
}

@media (min-height: $screen-min-height-desktop-max) and (min-width: $screen-desktop-min) {
  .chat-area .ant-card.left-menu {
    display: none;
  }
  .game-table {
    margin-top: 24px;
  }
  .score-card {
    .ant-card-body {
      & > div {
        max-height: 241px;
        min-height: 241px;
      }
      .notepad {
        height: 217px;
      }
    }
  }
}
