@import '../../base';

.game-table {
  @include button;
  padding: 16px;
  max-width: $screen-desktop-max;
  margin: 0 auto !important;
}
.ant-card {
  box-shadow: $card-shadow;
  border-radius: 8px;
  .ant-card-body {
    padding: 16px;
  }
  .ant-card-head {
    .ant-card-head-title, .ant-card-extra {
      padding: 12px 0;
      line-height: 2em;
      font-size: 12px;
    }
    .ant-card-extra {
      @include type-default;
      font-weight: bold;
      line-height: 2em;
      font-size: 12px;
    }
  }
}

.ant-dropdown-menu {
  padding: 0;
}

.board-container {
  user-select: none;
  text-align: center;
  padding: 0 12px 24px 24px;
  margin: 6px;
  outline-style: none;
}

.board {
  position: relative;
}

.chat-area, .data-area {
  flex: 0 0 33%;
  max-width: 33%;
  text-align: left;
  .ant-card {
    margin-bottom: 12px;
  }
}

.ant-card {
  border-radius: 8px;
}

/* hide at mobile for now,
 expand board */

.chat-area {

  display: none;
}

.play-area {
  max-width: none;
  flex: 0 0 66%;
}


/* Board spaces */

.board-spaces-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.board-spaces, .tiles {
  width: 100%;
  min-width: 360px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  gap: 1px;
  border: 1px solid #DDD;
  background-color: #DDD;
}

.tiles {
  position: absolute;
  background-color: transparent;
  border-color: transparent;
  gap: 0;
  border: 0;
  height: 100%;
  pointer-events: none;
}

.board-space {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-board-empty;
  border: transparent 1px solid;
  border-color: transparent transparent #DDD #DDD;
}

.board-space::before {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
}

.board-space .anticon {
  position: absolute;
  font-size: 1.5vw;
}

.board-space .logo {
  position: absolute;
  width: 2.4vw;
  height: 2.4vw;
}

.board-space .anticon {
  position: absolute;
  color: $color-secondary;
}

.bonus-label {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 12px;
}

/* Coordinate labels */

.coord-labels {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.coord-labels.vert {
  position: absolute;
  left: -24px;
  bottom: 0;
  flex-direction: column;
  width: auto;
  height: calc(100% - 24px);
}

.coord-label {
  color: black;
  text-align: right;
  margin: 0;
  font-size: 100%;
  font-weight: 600;
  font-family: 'Source Code Pro', monospace;
  overflow: hidden;
}

/* Rack */

.rack {
  display: flex;
  justify-content: center;
  margin: 24px 0;
  width: 100%;
  height: 4vw;
  min-height: 30px;
}

.ant-modal .rack {
  height: auto;
}

.rack-container {
  display: flex;
  justify-content: center;
  align-items: center;
  outline-style: none;
}

/* Tiles - defaults that may be overridden by customization */
.tile, .empty-space {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10%;
  line-height: 0;
  text-align: center;
}

// squareness fix
.tile::before {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
}
.empty-space {
  pointer-events: none;
}

.tile {
  pointer-events: all;
}
.tile .rune {
  @include type-monospace;
  color: white;
  margin: 0;
  line-height: 0;
  font-size: calc(12px + 1.2vw);
  font-weight: 600;
  width: 100%;
  padding-bottom: 3px;
}

.tile .point-value {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.6vw 0.3vw;
  line-height: 0;
  margin: 0;
  font-size: 0.6vw;
  font-weight: bold;
}

.rack .tile {
  width: 27px;
  height: 27px;
  margin: 1px;
  &.dragging {
    opacity: 0.1;
  }
}


.tile .tentative-score {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 70%;
  border-radius: 15%;
  font-size: 0.9vw;
  font-weight: bold;
  margin: 0;
  left: -95%;
  background: #999;
  color: white;
}


// Pool
.pool {
  header {
    @include type-title;
  }
  .ant-card-body {
    padding: 0;
  }
  .vc-distribution {
    @include type-monospace;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    border-radius: 0 0 8px 8px;
    background: $color-primary-dark;
    color: white;
    div{
      width: 50%;
      text-align: center;
      padding: 4px;
      &:first-child {
        background: $color-primary-light;
        color: black;
      }
    }
  }
  .tiles-remaining {
    @include type-monospace;
    font-size: 13px;
    padding: 0px 24px 12px;
    line-height: 1.6em;
    letter-spacing: 0.21em;
    max-height: 80px;
    overflow-y: auto;
    .pool-section {
      word-break: break-word;
    }
    .letter-group {
      // white-space: pre would lock each rune group to a single line if we ever want that
      white-space: normal;
    }
  }
}
.format-dropdown {
  .ant-dropdown-menu {
    top: -28px;
    li.ant-dropdown-menu-item {
      @include type-default;
      font-weight: bold;
      font-size: 12px;
      height: 24px;
      padding: 0px 12px;
      width: 100px;
      line-height: 2.3em;
      &:hover {
        background: $color-secondary-light;
      }
    }
  }
}
.game-info {
  display: none;
  font-size: 14px;
  .variant {
    font-weight: 600;
    font-size: 16px;
  }
}
// Scorecard
.score-card {
  .ant-card-body {
    padding: 0;
    & > div {
      padding: 8px 16px 16px;
      max-height: 150px;
      overflow-y: auto;
    }
  }
  .player-avatar {
    margin-right: 6px;
    width: 24px;
    min-width: 24px;
    height: 24px;
    font-size: 18px;
  }
  .turn {
    display: flex;
    padding: 6px 0;
    font-size: 11px;
    justify-content: space-between;
    .coords-time {
      flex: 2;
    }
    .play {
      flex: 3;
    }
  }
}
.game-controls {
  max-width: 350px;
  margin: 0 auto
}

@media (min-width: $screen-tablet-min) {
  .game-table {
    max-width: $screen-tablet-min;
  }
  .pool .tiles-remaining {
    max-height: 110px;
    overflow-y: auto;
  }
}

@media (min-width: $screen-laptop-min) {

  .game-table {
    max-width: $screen-laptop-min;
  }
  .chat-area {
    display: block;
  }
  .chat-area, .data-area {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .play-area {
    flex: 0 0 50%;
  }
  .rack .tile {
    width: 28px;
    height: 28px;
    margin: 3px;
  }
  .tile, .empty-space {
    height: 28px;
    width: 28px;
  }
  .tile .rune {
    font-size: 22px;
    line-height: 28px;
    position: relative;
  }
  .tile .point-value {
    font-size: 7px;
    padding: 5px 2px;
  }
  .rack {
    height: 3vw;
  }
}
@media (min-width: $screen-desktop-min) {
  .game-table {
    max-width: $screen-desktop-min;
    .ant-card .ant-card-head {
      .ant-card-head-title, .ant-card-extra {
        padding: 12px 0;
        font-size: 16px;
      }
      .ant-card-extra {
        font-size: 16px;
      }
    }
  }
  .format-dropdown {
    .ant-dropdown-menu {
      li.ant-dropdown-menu-item {
        height: 32px;
        padding: 0px 16px;
        width: 120px;
        line-height: 2.3em;
        &:hover {
          background: $color-secondary-light;
        }
      }
    }
  }
  .tile.droppable {
    pointer-events: all;
    cursor: grab;
  }
  .tile .rune {
    font-size: 30px;
    line-height: 35px;
  }
  .tile .point-value {
    font-size: 10px;
    padding: 8px 3px;
  }
  .tile, .empty-space {
    height: 37px;
    width: 37px;
  }
  .rack .tile {
    width: 36px;
    height: 36px;
  }
  .pool {
    .vc-distribution {
      font-size: 14px;
    }
    .tiles-remaining {
      font-size: 16px;
      line-height: 2em;
    }
  }
  .score-card {
    .turn {
      font-size: 14px;
      padding: 8px 16px 16px 8px;
    }
    .player-avatar {
      margin-right: 16px;
        width: 36px;
        min-width: 36px;
        height: 36px;
        font-size: 27px;
    }
  }
  .game-info {
    display: block;
  }
  .game-controls {
    max-width: none;
  }
}

@media (min-width: $screen-desktop-max) {
  .game-table {
    max-width: $screen-desktop-max;
  }
  .pool .tiles-remaining {
    max-height: 180px;
  }
  .rack .tile {
    width: 44px;
    height: 44px;
  }
  .tile, .empty-space {
    height: auto;
    width: auto;
  }
}
