@use "../../base.scss" as *;
@use "../../color_modes" as *;

.board-embed .player-cards.vertical {
  display: flex;
  order: 4;
}

.player-cards.vertical {
  display: none;
  @media (min-width: $screen-tablet-min) {
    display: flex;
    order: 4;
  }
}
.sticky-player-card-container {
  width: 100vw;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  z-index: 4;
  padding: 24px 24px 0px;
  margin: -16px -24px 0px;
  @include colorModed() {
    background-color: m($background);
  }
  @media (min-width: $screen-tablet-min) {
    display: none;
  }
}
.player-cards.ant-card.horizontal {
  display: flex;
  margin-bottom: 12px;

  .ant-card-body {
    display: flex;
  }
  .player-card {
    width: 50%;
    &:last-child .player {
      order: 0;
    }
  }
}

.player-cards.ant-card {
  p {
    @include colorModed() {
      color: m($gray-extreme);
    }
  }
  .ant-card-body {
    padding: 0;
    width: 100%;
  }
  button.ant-btn {
    @include colorModed() {
      color: m($background);
    }
  }
  .player-card {
    padding: 5px 12px;
    text-align: left;
    display: flex;
    flex-direction: column;
    .ant-row {
      display: flex;
      flex-wrap: nowrap;
    }
    button {
      height: 32px;
      @include colorModed() {
        background-color: m($primary-dark);
      }
      & {
        margin: 3px;
        border-radius: 4px;
        flex: 1;
      }
    }

    .player {
      align-items: center;
      .player-avatar {
        margin-right: 12px;
        width: 48px;
        min-width: 48px;
        height: 48px;
        font-size: 36px;
      }
      .player-info {
        padding: $card-padding-md 0;
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        font-size: 14px;
      }
      .player-details {
        width: 100%;
        font-size: 14px;
      }
      .player-name {
        @include type-title;
        font-size: 16px;
        max-width: calc(100% - 48px);
        overflow: hidden;
        text-align: left;
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      // Don't use space on mobile for flag
      .player-flag {
        margin-left: 8px;
        width: 16px;
        display: none;
      }
    }
    .score-timer {
      display: flex;
      button {
        @include type-monospace;
        font-size: 22px;
        line-height: 28px;
        align-items: flex-start;
        @include colorModed() {
          color: m($background);
        }
        & {
          font-weight: bold;
        }
        &.timer {
          @include colorModed() {
            background-color: m($card-background);
            color: m($primary-dark);
            border: 1px solid m($primary-dark);
          }
          & {
            font-weight: 500;
            height: 32px;
            font-size: 22px;
            line-height: 28px;
          }
          .time-bank-indicator {
            color: #15803d; // green-700 for light mode
            margin-left: 2px;
            font-size: 0.7em;
            cursor: help;

            body.mode--dark & {
              color: #22c55e; // green-500 for dark mode
            }
          }
        }
      }
      .timer-container {
        flex: 1;
        margin: 3px;
        position: relative;
        button.timer {
          margin: 0;
          width: 100%;
          height: 32px;
          font-size: 22px;
          line-height: 28px;
        }
        .time-bank-label {
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          font-size: 8px;
          text-align: center;
          color: #414141;
          text-transform: uppercase;
          letter-spacing: 0.5px;
          line-height: 1;
          margin-top: 2px;
        }
      }
    }
    &:first-child {
      .timer-container .time-bank-label {
        // Move label to top for the first player (top of screen)
        top: auto;
        bottom: 100%;
        margin-top: 0;
        margin-bottom: 2px;
      }
    }
    &:last-child {
      .player {
        order: 2;
      }
    }

    &.on-turn {
      @include colorModed() {
        background: m($timer-light);
      }
      button.ant-btn {
        @include colorModed() {
          background: m($timer-dark);
        }
        &.timer {
          @include colorModed() {
            background-color: m($card-background);
            color: m($timer-dark);
            border-color: m($timer-dark);
          }
        }
      }
      &.time-low {
        color: #414141; // theming outlier
        @include colorModed() {
          background: m($timer-low-light);
        }
        p,
        .player-details {
          color: #414141; // theming outlier
        }
        a {
          color: #2d6a9e;
        }
        button.ant-btn {
          color: #414141; // theming outlier

          @include colorModed() {
            background: m($timer-low-dark);
          }
          &.timer {
            color: #414141; // theming outlier
            background: white; // theming outlier
            @include colorModed() {
              border-color: m($timer-low-dark);
            }
          }
        }
      }
      &.time-out {
        @include colorModed() {
          background: m($timer-out-light);
        }
        button.ant-btn {
          @include colorModed() {
            background: m($timer-out-dark);
            border-color: m($timer-out-dark);
          }
          &.timer {
            @include colorModed() {
              background: m($background);
              border-color: m($timer-out-dark);
              color: m($timer-out-dark);
            }
          }
        }
      }
      &.using-time-bank {
        color: #414141; // theming outlier
        @include colorModed() {
          background: m($timer-low-light);
        }
        p,
        .player-details {
          color: #414141; // theming outlier
        }
        a {
          color: #2d6a9e;
        }
        button.ant-btn {
          color: #414141; // theming outlier

          @include colorModed() {
            background: m($timer-low-dark);
          }
          &.timer {
            color: #414141 !important; // theming outlier - override any green
            @include colorModed() {
              border-color: m($timer-low-dark);
              color: #414141; // theming outlier
            }
          }
        }
      }
    }
  }
}

@media (min-width: $screen-laptop-min) {
  .player-cards.ant-card {
    .player-card {
      .player {
        @include colorModed() {
          color: m($gray-extreme);
        }
        .player-info {
          font-size: 12px;
        }
        .player-name {
          font-size: 14px;
        }
        .player-avatar {
          width: 40px;
          min-width: 40px;
          height: 40px;
          font-size: 30px;
        }
      }

      .score-timer {
        button {
          font-size: 22px;
          line-height: 32px;
        }
      }
    }
  }
}

@media (min-width: $screen-desktop-min) {
  .player-cards.ant-card {
    .player-card {
      .player {
        .player-info {
          font-size: 14px;
        }
        .player-name {
          font-size: 16px;
        }
        .player-avatar {
          width: 48px;
          min-width: 48px;
          height: 48px;
          font-size: 36px;
        }
      }
    }
  }
}
