@import '../../base.scss';

.player-cards.ant-card {
  p {
    color: black;
  }
  .ant-card-body {
    padding: 0;
  }
  button.ant-btn {
    color: white;
  }
  .player-card {
    padding: 5px 12px;
    text-align: left;
    display: flex;
    flex-direction: column;
    .ant-row {
      display: flex;
      flex-wrap: nowrap;
    }
    button {
      height: 32px;
      background-color: $color-primary-dark;
      margin: 3px;
      border-radius: 4px;
      flex: 1;
    }

    .player {
      align-items: center;
      .player-avatar {
        margin-right: 12px;
        width: 48px;
        min-width: 48px;
        height: 48px;
        font-size: 36px;
      }
      .player-info {
        padding: $card-padding-md 0;
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        font-size: 14px;
      }
      .player-details {
        width: 100%;
        font-size: 14px;
      }
      .player-name {
        @include type-title;
        font-size: 16px;
        max-width: calc(100% - 48px);
        overflow: hidden;
        text-align: left;
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      // Don't use space on mobile for flag
      .player-flag {
        margin-left: 8px;
        width: 16px;
        display: none;
      }
    }
    .score-timer {
      display: flex;
      button {
        @include type-monospace;
        font-size: 20px;
        color: white;
        font-weight: bold;
        &.timer {
          background-color: white;
          color: $color-primary-dark;
          border-color: $color-primary-dark;
          font-weight: 500;
        }
      }
    }
    &:last-child {
       .player {
         order: 2;
       }
     }

    &.on-turn {
      background: $color-timer-light;
      button.ant-btn {
        background-color: $color-timer-dark;
        &.timer {
          background-color: white;
          color: $color-timer-dark;
          border-color: $color-timer-dark;
        }
      }
      &.time-low {
        background-color: $color-timer-low-light;
        color: black;
        button.ant-btn {
          background-color: $color-timer-low-dark;
          color: black;
          &.timer {
            background: white;
            border-color: $color-timer-low-dark;
            color: black;
          }
        }
      }
      &.time-out {
        background-color: $color-timer-out-light;
        button.ant-btn {
          background-color: $color-timer-out-dark;
          border-color: $color-timer-out-dark;
          &.timer {
            background: white;
            border-color: $color-timer-out-dark;
            color: $color-timer-out-dark;;
          }
        }
      }
    }
  }
}

@media (min-width: $screen-laptop-min) {
  .player-cards.ant-card {
    .player-card {
      .player {
        .player-info {
          font-size: 12px;
        }
        .player-name {
          font-size: 14px;
        }
        .player-avatar {
          width: 40px;
          min-width: 40px;
          height: 40px;
          font-size: 30px;
        }
      }

      .score-timer {
        button {
          font-size: 16px;
        }
      }
    }
  }
}

@media (min-width: $screen-desktop-min) {
  .player-cards.ant-card {
    .player-card {
      .player {
        .player-info {
          font-size: 14px;
        }
        .player-name {
          font-size: 16px;
        }
        .player-avatar {
          width: 48px;
          min-width: 48px;
          height: 48px;
          font-size: 36px;
        }
      }
    }
    .score-timer {
      button {
        font-size: 16px;
      }
    }
  }
}


