@use "../base.scss" as *;

.section-head {
  position: relative;
  top: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include colorModed() {
    background-image: linear-gradient(m($header) 20%, m($background) 70%);
  }
  & {
    height: 140px;
  }
  h1 {
    margin-bottom: 0;
  }
}
.bios {
  p {
    @include type-default;
    & {
      font-weight: 500;
      line-height: 1.5em;
    }
    @include colorModed() {
      background: transparent;
      color: m($gray-extreme);
    }
  }
  .intro {
    margin: 0 auto;
    max-width: $screen-mobile-min;
    padding: 12px 12px 48px;
    h4 {
      @include colorModed() {
        color: m($secondary);
      }
    }
    p + h4 {
      margin-top: 36px;
    }
    p {
      margin-bottom: 0.3em;
    }
  }
  .bio {
    min-height: 380px;
    @include colorModed() {
      background: m($secondary-lighter);
    }
    .container {
      display: flex;
      align-items: flex-start;
    }
    img {
      min-width: 380px;
      width: 380px;
      height: 380px;
    }
    h3 {
      @include colorModed() {
        color: m($secondary);
      }
      & {
        font-size: 24px;
        margin-bottom: 0.5em;
      }
    }
    .team-info {
      padding: 24px 24px 0 24px;
    }
    p {
      padding: 0 24px 0 0;
      max-width: 80%;
    }
  }
  .ant-row:nth-child(odd) .bio {
    .container {
      justify-content: flex-end;
    }
    @include colorModed() {
      background: m($primary-light);
    }
    h3 {
      @include colorModed() {
        color: m($primary-dark);
      }
      & {
        font-size: 21px;
        margin-bottom: 0.5em;
      }
    }
    img {
      order: 2;
    }

    .team-info {
      padding: 24px 24px 0 0;
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      p {
        padding: 0 0 0 24px;
      }
    }
  }
}

@media (min-width: $screen-tablet-min) {
  .bios {
    .bio {
      img {
        min-width: 420px;
        width: 420px;
        height: 420px;
      }
      .team-info {
        padding: 60px 0 0 60px;
      }
    }
    .ant-row:nth-child(odd) .bio {
      .team-info {
        padding: 60px 60px 0 0;
      }
    }
  }
}

@media (min-width: $screen-laptop-min) {
  .bios {
    max-width: none;
    margin: 0 auto;
    p {
      line-height: 2em;
    }
    .bio {
      h3 {
        font-size: 24px;
        margin-bottom: 1em;
      }
    }
  }
}
