@import '../base';
@import '../shared/layout';

@include button;

.ant-form .ant-form-item{
  label {
    @include colorModed() {
      color: m($gray-extreme);
    }
  }
}

div.account {
  display: flex;
  flex-direction: row;

  align-items: flex-start;
  justify-content: center;
  .register {
    margin: 48px;
  }
  .woogles {
    display: none;
    width: 256px;
    height: 418px;
    margin-top: 64px;
  }
  .account-form.register {
    max-width: 634px;
    h3 {
      font-family: $font-default;
      letter-spacing: 0;
      font-weight: 800;
    }
    p {
      margin: 2em 0;
    }
    input {
      width: 300px;
      height: 48px;
      margin-bottom: 12px;
    }
    .ant-form-item-has-feedback .ant-form-item-children-icon {
      top: auto;
    }
    .ant-checkbox-wrapper {
      max-width: calc(100vw - 64px);
      padding-right: 24px;
      display: flex;
      align-items: center;
      margin: 0;
      padding-bottom: 24px;
      p.no-cheat {
        padding-left: 16px;
        margin: 12px 0 0 0;
      }
    }
    .ant-row.ant-form-item.password {
      &, * {
        transition: none;
      }
      input {
        position: relative;
        width: 258px;
        height: 26px;
        top: 6px;
      }

      margin-bottom: 12px;
      .ant-form-item-explain {
        margin-top: 12px;
      }
      &.ant-form-item-has-feedback {
        input {
          width: 240px;
        }
        .ant-form-item-children-icon {
          top: 50%;
        }
      }
    }
  }
}

.ant-modal.login-modal {
  .ant-modal-body {
    padding-top: 12px;
  }
  .ant-modal-title {
    font-size: 18px;
    line-height: 2em;
  }
  .ant-modal-close {
    display: none;
  }
  input {
    height: 48px;
  }
  button {
    margin-top: 6px;
  }
  .ant-row.ant-form-item.password {
    &, * {
      transition: none;
    }
    input {
      height: 48px;
      border-radius: 4px;
    }

    margin-bottom: 12px;
    .ant-form-item-explain {
      margin-top: 12px;
    }
  }
  a {
    cursor: pointer;
    letter-spacing: 0;
    @include colorModed() {
      color: m($primary-dark);
    }
    font-weight: bold;
    font-size: 13px;
    border: 0;
    outline: 0;
    &:hover,
    &:active {
      @include colorModed() {
        color: m($primary-midDark);
      }
    }
  }
}
@media (min-width: $screen-tablet-min) {
  div.account {
    .account-form {
      &.register {
        margin-left: 95px;
      }
      .ant-checkbox-wrapper {
        max-width: 540px;
      }
    }
    .woogles {
      display: block;
    }
  }
}