@use "../base.scss" as *;

div.account {
  display: flex;
  flex-direction: row;

  align-items: flex-start;
  justify-content: center;
  .register {
    margin: 48px;
  }
  .woogles {
    display: none;
    width: 256px;
    height: 418px;
    margin-top: 64px;
  }
  .account-form.register {
    max-width: 634px;
    h3 {
      font-family: $font-default;
      letter-spacing: 0;
      font-weight: 800;
    }
    p {
      margin: 2em 0;
    }
    .group-title {
      flex: 1 0 100%;
      font-size: 16px;
      font-weight: 700;
      margin: 1em 0;
    }
    .persistent-explanation {
      flex: 1 0 100%;
      font-style: italic;
      margin: 0 0 0.75em;
      @include colorModed() {
        color: m($gray-subtle);
      }
    }
    .full-width {
      flex: 1 0 100%;
    }
    .ant-form-item input,
    .ant-input-password {
      @include colorModed() {
        background: m($background);
        color: m($gray-extreme);
      }
    }
    .only-errors .ant-form-item-control-input {
      display: none;
    }

    /* copying these from ../settings/settings.scss for the country dropdown, idk what it does */
    .ant-select {
      border: 1px solid #cfcfcf;
      border-radius: 4px;
    }
    .ant-select-selector,
    .ant-select-item,
    .ant-select-dropdown {
      @include colorModed() {
        background: m($background);
        color: m($gray-extreme);
      }
      & {
        z-index: 1100;
      }
      .hover-help {
        display: none;
      }
    }

    // Ensure all dropdown overlays (including AutoComplete) render on top of all inputs
    .ant-select-dropdown {
      z-index: 2000 !important;
    }

    .ant-select-selection-item {
      font-weight: normal;
      font-size: 14px;
    }
    /* end copy from ../settings/settings.scss */

    .birth-year .ant-select,
    .birth-month .ant-select,
    .birth-date .ant-select {
      /* (300px - 16px) / 2 */
      width: 142px;
      height: 48px;
      padding-top: 3px;
      font-size: 14px;
      margin-bottom: 12px;
      input {
        width: 100%;
        height: 40px;
        margin-bottom: unset;
      }
    }
    .country-code .ant-select {
      width: 300px;
      height: 48px;
      padding-top: 3px;
      font-size: 14px;
    }
    .ant-input-affix-wrapper:has(input),
    input {
      width: 300px;
      height: 48px;
    }
    .ant-input-affix-wrapper input {
      width: 100%;
      height: unset;
    }
    .ant-form-item-control > *:last-child {
      margin-bottom: 12px;
    }
    .ant-form-item-has-feedback .ant-form-item-children-icon {
      top: auto;
    }
    .ant-checkbox-wrapper {
      max-width: min(100vw - 64px, 634px); /* wrap properly */
      padding-top: 24px;
      padding-right: 24px;
      display: flex;
      padding-bottom: 24px;
      p.no-cheat {
        padding-left: 16px;
        margin: 6px 0;
      }
      .ant-checkbox {
        margin: 9px 0 0; /* match the paragraph's first line */
        height: 100%; /* patch hover/toggle animation size */
      }
      .ant-checkbox-input {
        z-index: -1; /* make link clickable */
      }
    }
    .ant-row.ant-form-item.password {
      &,
      * {
        transition: none;
      }
      input {
        position: relative;
        width: 258px;
        height: 26px;
        top: 6px;
      }

      & {
        margin-bottom: 12px;
      }
      .ant-form-item-explain {
        margin-top: 12px;
      }
      &.ant-form-item-has-feedback {
        input {
          width: 240px;
        }
        .ant-form-item-children-icon {
          top: 50%;
        }
      }
    }
  }
}

// All dropdowns in account forms need very high z-index to appear above all inputs
.birthdate-dropdown,
.country-dropdown {
  z-index: 2000 !important;
}

.ant-modal.login-modal {
  .ant-modal-body {
    padding-top: 12px;
  }
  .ant-modal-title {
    font-size: 18px;
    line-height: 2em;
  }
  .ant-modal-close {
    display: none;
  }
  input {
    height: 48px;
  }
  button {
    margin-top: 6px;
  }
  .ant-row.ant-form-item.password {
    &,
    * {
      transition: none;
    }
    input {
      height: 48px;
      border-radius: 4px;
    }

    & {
      margin-bottom: 12px;
    }
    .ant-form-item-explain {
      margin-top: 12px;
    }
  }
  a {
    cursor: pointer;
    letter-spacing: 0;
    @include colorModed() {
      color: m($primary-dark);
    }
    & {
      font-weight: bold;
      font-size: 13px;
      border: 0;
      outline: 0;
    }
    &:hover,
    &:active {
      @include colorModed() {
        color: m($primary-midDark);
      }
    }
  }
}
@media (min-width: $screen-tablet-min) {
  div.account {
    .account-form {
      &.register {
        margin-left: 95px;
      }
      .ant-checkbox-wrapper {
        max-width: 540px;
      }
    }
    .woogles {
      display: block;
    }
  }
}
