@import '../base';
@include button;

.lobby {
  justify-content: center;
  align-items: flex-start;
  padding: 0 24px;
}

.game-lists, .chat-area, .news-area {
  margin: 12px 0;
  .ant-card {
    height: calc(100vh - #{$header-height-mobile} - 30px);
  }
}

.game-lists {
  padding: 0 12px;
  max-width: none;
  flex: 0 0 66%;
  @include type-default;
  .ant-card-body {
    padding: 12px 0 0 0;
  }
  .ant-table-thead > tr > th {
    background: white;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    &.details {
      text-align: right;
    }
  }
  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .tab {
      padding: 0px 24px 6px;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 24px;
      font-weight: bold;
      letter-spacing: 0.16em;
      cursor: pointer;
      &:hover,
      &.active {
        color: $color-primary-dark;
      }
      &.active {
        border-bottom: 3px solid $color-primary-dark;
      }
    }
  }
  .games {
    .game-listing {
      cursor: pointer;
      .details {
        text-align: right;
        @include type-deco;
        letter-spacing: 0;
        font-size: 12px;
        color: $color-timer-dark;
        .mode_x2 {
          color: $color-timer-out-dark;
        }
        .mode_Void {
          color: $color-timer-low-dark;
          text-transform: uppercase;
        }
      }
    }
  }
  .requests {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 12px;
    width: 100%;
  }
  .ant-empty {
    display: none;
  }
  h4 {
    @include type-default;
    background: $color-primary-light;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    padding: 12px;
    letter-spacing: 0;
    margin: 6px 0px 0px;
  }
}

@media (min-width: $screen-tablet-min) {
  .game-lists, .chat-area, .news-area {
    .ant-card {
      height: calc(100vh - #{$header-height-desktop} - 64px);
    }
  }
}

@media (min-width: $screen-laptop-min) {
  .game-lists {
    flex: 0 0 50%;
  }
}