@use "sass:color";
@use "../base.scss" as *;

.lobby {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  &.competitor {
    padding-bottom: 64px;
  }
  .game-lists {
    order: 2;
    flex-grow: 2;
    @include type-default;

    .ant-card:not(.paired-mode) {
      @include action-blocks;
    }

    .ant-card-body {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-around;
      padding: 12px 0 0 0;

      .main-content {
        flex: 1;
        overflow-y: auto;
      }

      .enable-simultaneous-ignore-link {
        padding: 8px;
        align-self: flex-end;
      }
    }
  }
}
.announcements,
.tournament-info {
  order: 0;
  .ant-card {
    .ant-card-head {
      font-size: 16px;
      border: 0;
    }
  }
  .tournament .ant-card-body {
    max-height: 520px;
    overflow-y: auto;
    padding-top: 0px;
  }
  @media (max-width: $screen-tablet-min + 1) {
    order: 3;
  }
}

.announcements {
  .ant-card.announcements-card {
    .ant-card-body {
      padding: 0;
      height: 100%;
    }

    .ant-tabs {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .ant-tabs-content-holder {
      flex: 1;
      overflow-y: auto;
      min-height: 0;
    }

    .announcements-list {
      padding: 12px 24px 0;
    }
  }

  a {
    li {
      padding-bottom: 18px;
      @include colorModed() {
        color: m($gray-extreme);
      }

      &,
      &:focus,
      &:active,
      &:hover {
        color: inherit;
        letter-spacing: 0;
        font-weight: inherit;
      }

      p {
        font-weight: 200;
      }

      &:hover h4,
      &:hover p {
        @include colorModed() {
          background-color: color.mix(
            m($primary-middle),
            m($background),
            $weight: 50%
          );
        }
      }
    }
  }
}

.tournament-info .tournament {
  // ReactMarkdown paragraph spacing fix for tournament descriptions
  p {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h4 {
    span.director {
      @include colorModed() {
        color: m($primary-dark);
      }

      &.readonly {
        @include colorModed() {
          color: m($gray-medium);
        }
        opacity: 0.7;
      }
    }
  }
  h3 {
    font-size: 18px;
    margin-top: 8px;
  }
  h5.section-header {
    @include colorModed() {
      color: m($gray-medium);
    }
    & {
      letter-spacing: 0.16em;
      text-transform: uppercase;
      margin: 16px 0 8px;
    }
  }
  h3.tournament-name {
    font-size: 24px;
    @include colorModed() {
      color: m($primary-dark);
    }
  }
  .ant-card-head {
    padding-bottom: 8px;
    @include colorModed() {
      background-image: linear-gradient(
        m($header) 50%,
        m($card-background) 100%
      );
    }
    .ant-card-head-title {
      font-size: 22px;
    }
  }
  ul {
    list-style-type: disc;
  }
  li {
    @include colorModed() {
      color: m($gray-extreme);
    }
    & {
      margin-left: 48px;
    }
  }
}

@media (min-width: $screen-tablet-min) {
  .lobby.competitor {
    padding-bottom: 0;
  }
  .tournament-info .tournament {
    order: initial;
    flex-grow: 1;
    .ant-card {
      height: calc($main-container-width-tablet + 60px);
    }
  }
  .lobby .game-lists {
    order: initial;
  }
}

@media (min-width: $screen-laptop-min) {
  .tournament-info .tournament {
    .ant-card-body {
      max-height: calc(100vh - #{$header-height-desktop + 125px});
    }
  }
}
