@import '../base';
@import '../shared/gameLists';
@include button;
@include notification;
@include modal;

.lobby {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  .game-lists {
    order: 2;
    flex-grow: 2;
    @include type-default;

    .ant-card {
      @include action-blocks;
    }

    .ant-card-body {
      padding: 12px 0 0 0;
    }
  }
}
.announcements {
  order: 0;
  .ant-card {
    height: auto;
  }
  .ant-card-head {
    font-size: 22px;
    border: 0;
  }
  .ant-card-body {
    max-height: 300px;
    overflow-y: auto;
    padding-top: 0px;
  }
  li {
    padding-bottom: 18px;
    a, a:focus, a:active, a:hover {
      color: inherit;
      letter-spacing: 0;
      font-weight: inherit;
    }
    a p:hover {
      background-color: mix($color-off-background, $color-background, $weight: 50%);
    }
  }
}

@media (min-width: $screen-tablet-min) {
  .announcements {
    order: initial;
    flex-grow: 1;
    .ant-card {
      height: $main-container-width-tablet + 60px;
    }
    .ant-card-body {
      max-height: calc(100% - 70px);
    }
  }
  .lobby .game-lists {
    order: initial;
  }
}