@import '../base';
@import '../shared/gameLists';
@include button;
@include notification;
@include modal;

.lobby {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  .game-lists {
    order: 2;
    flex-grow: 2;
    @include type-default;

    .ant-card:not(.paired-mode) {
      @include action-blocks;
    }

    .ant-card-body {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-around;
      padding: 12px 0 0 0;

      .main-content {
        flex: 1;
      }

      .enable-simultaneous-ignore-link {
        padding: 8px;
        align-self: flex-end;
      }
    }
  }
}
.announcements,
.tournament-info {
  order: 0;
  .ant-card {
    .ant-card-head {
      font-size: 22px;
      border: 0;
    }
    .ant-card-body {
      max-height: 520px;
      overflow-y: auto;
      padding-top: 0px;
    }
  }
}

.announcements {
  li {
    padding-bottom: 18px;
    @include colorModed() {
      color: m($gray-extreme);
    }
    a,
    a:focus,
    a:active,
    a:hover {
      color: inherit;
      letter-spacing: 0;
      font-weight: inherit;
    }
    a p:hover {
      @include colorModed() {
        background-color: mix(m($primary-middle), m($background), $weight: 50%);
      }
    }
  }
}

.tournament-info .tournament {
  h3 {
    font-size: 18px;
    &.recent-header {
      font-size: 18px;
      @include colorModed() {
        color: m($gray-medium);
      }
    }
    margin-top: 8px;
  }

  h3.tournament-name {
    font-size: 24px;
    @include colorModed() {
      color: m($primary-dark);
    }
  }
  .ant-card-head {
    @include colorModed() {
      background-image: linear-gradient(
        m($header) 30%,
        m($card-background) 100%
      );
    }
    .ant-card-head-title {
      font-size: 18px;
    }
  }
  ul {
    list-style-type: disc;
  }
  li {
    @include colorModed() {
      color: m($gray-extreme);
    }
    margin-left: 48px;
  }
}

@media (min-width: $screen-tablet-min) {
  .announcements,
  .tournament-info .tournament {
    order: initial;
    flex-grow: 1;
    .ant-card {
      height: $main-container-width-tablet + 60px;
    }
  }
  .lobby .game-lists {
    order: initial;
  }
}

@media (min-width: $screen-laptop-min) {
  .announcements,
  .tournament-info .tournament {
    .ant-card-body {
      max-height: calc(100vh - #{$header-height-desktop + 125px});
    }
  }
}
