@import '../base';
@include button;
@include notification;
@include modal;

.seek-modal {
  .ant-modal-header {
    background-image: linear-gradient($color-primary-middle 0%, white 100%);
  }
  button {
    font-size: 13px;
  }
  .ant-form-item-label {
    text-align: left;
    & > label::after {
      content: '';
    }
  }
  .ant-slider {
    width: 320px;
  }
  .ant-switch-checked {
    background-color: $color-primary-dark;
  }

  .ant-form-item-control {
    flex-direction: row;
    align-items: center;
    width: calc(100% - 24px);
    .ant-form-item-extra {
      margin-left: 6px;
    }
  }
  .ant-modal-footer .ant-btn {
    border: 0;
    font-size: 13px;
    text-transform: none;
  }
}

#challengerule .ant-radio-button-wrapper {
  padding: 0 10px;
}
