@use "../base.scss" as *;

.ant-modal-root .seek-modal {
  .ant-modal-header {
    @include colorModed() {
      background-image: linear-gradient(m($header) 30%, m($background) 100%);
    }
    .ant-modal-title {
      @include colorModed() {
        color: m($gray-extreme);
      }
    }
  }
  button {
    font-size: 13px;
  }
  .ant-modal-body {
    padding-bottom: 0;
  }
  .ant-modal-footer {
    padding: 0 24px 24px 0;
  }

  .ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled) {
    @include colorModed() {
      background: m($background);
      border-color: m($gray-medium);
      color: m($gray-medium);
    }
    & {
      opacity: 0.9;
    }
    &:before {
      @include colorModed() {
        background: m($gray-medium);
      }
    }
  }
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    @include colorModed() {
      border-color: m($primary-dark);
      color: m($gray-extreme);
      background: m($primary-light);
    }
    & {
      opacity: 1;
      transition: none;
    }
    &:before {
      @include colorModed() {
        background: m($primary-dark);
      }
    }
  }
  .ant-form-item-explain,
  .ant-form-item-extra {
    @include colorModed() {
      color: m($gray-extreme);
    }
  }
  .ant-form-item-with-help {
    margin-bottom: 24px;
  }
  dl {
    @include colorModed() {
      color: m($gray-extreme);
    }
  }
  .ant-select-selector,
  .ant-select-item,
  .ant-select-dropdown {
    @include colorModed() {
      background: m($background);
      color: m($gray-extreme);
    }
    & {
      z-index: 1100;
    }
    .hover-help {
      display: none;
    }
  }
  .ant-form-item input,
  .ant-select-single:not(.ant-select-customize-input)
    .ant-select-selector
    .ant-select-selection-search-input {
    @include colorModed() {
      background: m($background);
      color: m($gray-extreme);
    }
  }
  .ant-input-number-input {
    @include colorModed() {
      background: m($card-background);
      color: m($gray-extreme);
    }
  }
  .ant-form-item-control-input {
    width: 100%;
  }
  .extra-time-setter,
  .initial {
    align-items: center;
    .ant-form-item-control-input {
      width: auto;
    }
  }
  .ant-form-item .ant-form-item-label {
    text-align: left;
    & > label {
      text-align: left;
      @include colorModed() {
        color: m($gray-extreme);
      }
    }
    & > label::after {
      content: "";
    }
  }
  .ant-slider {
    width: 220px;
  }

  .ant-switch-handle:before {
    @include colorModed() {
      background-color: m($gray-medium);
    }
  }
  .ant-switch-checked {
    @include colorModed() {
      background-color: m($primary-dark);
    }
    .ant-switch-handle:before {
      @include colorModed() {
        background-color: m($background);
      }
    }
  }

  .ant-form-item-control {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 24px);
    .ant-form-item-extra {
      margin-left: 12px;
      .help {
        display: block;
        font-size: 13px;
        @include colorModed() {
          color: m($primary-midDark);
        }
      }
    }
  }
  .ant-modal-footer .ant-btn {
    border: 0;
    font-size: 13px;
    text-transform: none;
  }

  .advanced-field {
    @include colorModed() {
      background: m($off-background);
      border-left: 3px solid m($primary-dark);
    }
    padding: 8px 12px;
    border-radius: 4px;
    margin-bottom: 12px;
    .ant-form-item {
      margin-bottom: 0;
    }
  }

  .form-section-header {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 24px;
    margin-bottom: 16px;
    @include colorModed() {
      color: m($primary-midDark);
    }
  }
}

#challengerule .ant-radio-button-wrapper {
  padding: 0 10px;
}

.rc-virtual-list {
  .bot-selector-item {
    @include colorModed() {
      border: 1px solid m($gray-subtle);
    }
  }
}

.rc-virtual-list .bot-selector-patreon-callout-not-subscribed,
.rc.virtual-list .bot-selector-patreon-callout-ran-out-of-games,
.bot-selector-item-holder .bot-selector-patreon-callout-not-subscribed,
.bot-selector-item-holder .bot-selector-patreon-callout-ran-out-of-games {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  @include colorModed() {
    background-color: m($primary-dark);
  }
  .pt-callout-link {
    width: 24px;
    height: 24px;
    path {
      @include colorModed() {
        fill: m($background);
      }
    }
  }
  .pt-callout-text {
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    font-style: normal;
    flex: 1 0 0;
    @include colorModed() {
      color: m($background);
    }
  }
}

.bot-selector,
.bot-selector-item-holder {
  min-height: 102px;
  min-width: 352px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .bot-selector-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
    min-height: 102px;

    .bot-selector-item-layout {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 16px;
      width: 320px;
      height: 70px;
      flex: none;
      order: 0;
      align-self: stretch;
      flex-grow: 0;
      .bot-selector-image {
        width: 48;
        height: 48;
        border-radius: 50%;
        object-fit: cover;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
      }
      .bot-selector-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        padding: 0px;
        width: 258px;
        height: 70px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        .bot-selector-name-and-short-desc {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0px;
          width: 258;
          height: 22;
          flex: none;
          order: 1;
          flex-grow: 1;
          .bot-selector-name {
            width: 128px;
            height: 22px;
            font-size: 16px;
            line-height: 20px;
            font-weight: 700;
            font-style: normal;
            display: flex;
            align-items: center;
            @include colorModed() {
              color: m($gray-extreme);
            }
          }
          .bot-selector-short-desc {
            width: 130px;
            height: 22px;
            font-style: italic;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            display: flex;
            align-items: center;
            text-align: right;
            @include colorModed() {
              color: m($gray-extreme);
            }
          }
        }

        .bot-selector-long-desc {
          width: 258px;
          height: 40px;
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;
          font-style: normal;
          flex: none;
          order: 1;
          align-self: stretch;
          flex-grow: 0;
          white-space: normal;
          @include colorModed() {
            color: m($gray-extreme);
          }
        }
      }
    }
  }
  .bot-selector-item-disabled {
    @include colorModed() {
      background-color: m($gray-subtle);
    }
  }
}

.bot-selector-contains-patreon-callout {
  min-height: 142;
}

// .bot-selector-patreon-callout-not-subscribed {
//   /* over-ridden by rc-virtual-list holder above */
//   display: none;
// }
