@use "../base.scss" as *;

.tourney-editor {
  h3 {
    font-family: "Mulish", sans-serif;
    font-size: 15px;
    margin: 96px 24px 18px;
  }
}

.ant-layout {
  @include colorModed() {
    background-color: m($background);
  }
}
